[2016-07-24 13:31] james2432 opened #1 "Upload fails when over 2048 pictures to upload"
I have over 2700 photos in one sequence to upload and it fails as there are too many files open. Here are the logs. I'm running on windows with the upload_photos_by_exif3.py upload script.

[Errno 24] Too many open files: 'C:\\pyscripts\\openstreetview\\photos2\\1\\virb0114-2702.jpg'
[Errno 24] Too many open files: 'C:\\pyscripts\\openstreetview\\photos2\\1\\virb0114-2703.jpg'
[Errno 24] Too many

[2016-07-26 05:59] bogdans-telenav commented on #1
@james2432 thanks for reporting this. We managed yesterday to fix this and we will make everything available on this repo later this week.

[2016-07-26 11:43] james2432 commented on #1
I found a work around in the mean time: to split the folder in to 2 and upload couple hundred photos(until the resulting remainder is ~2000) kill the python script, update the count file for the a bit less than the image count on the website, copy the remainder back into the folder and restart the script, obviously this is a lot of work, but I'm glad you fixed it

[2016-07-26 13:15] bogdan-telenav commented on #1
@james2432 We solve the problem in a different and clean way so the script run flawless. I hope we can make it available in this week.

[2016-07-27 07:14] bogdan-telenav commented on #1
@james2432 I fixed the bug that you reported. You can find the upload script in this repo. The path to file is : upload_photos_by_exif/upload_photo_by_exif.py

[2016-07-27 07:17] #1 closed

[2016-07-28 04:46] james2432 opened #2 "upload_photos_by_exif.py too many files open[github version]"
I get the following error when uploading big datasets on Windows using python 3.4.1

    C:\pyscripts\openstreetview>python upload_photos_by_exif3.py -p C:\pyscripts\openstreetview\photos4\0\
    Found 3548 pictures to upload
    [Errno 24] Too many open files: 'C:\\pyscripts\\openstreetview\\photos4\\0\\virb0131-2044.jpg'
    [Errno 24] Too many open files: 'C:\\pyscripts\\openstreetview\\photos4

[2016-07-31 07:55] ToeBee opened #4 "upload_photos_by_exif.py fails on case-sensitive file system"
There is a `p.lower()` on line 295 that is used to lowercase the photo file name to check for `jpg` or `jpeg` but the same lowercased file name is used later to try and actually open the file for uploading. This results in  a `FileNotFoundError` on line 54

[2016-08-01 08:05] bogdan-telenav commented on #4
Thanks for reporting.

[2016-08-01 08:05] #4 closed

[2016-08-01 14:07] Xevib opened #5 "Error uploading photos by exif"
I got this message:

The result is this sequence http://openstreetview.org/details/11023/0

[2016-08-01 17:53] james2432 commented on #5
you might not have gps exif data in certain images. Try viewing it with an exif viewer to see if you have the latitude and longitude under the gps section

[2016-08-01 20:08] Xevib commented on #5
@james2432 the images has exif tags at least i can see it at genome image viewer. If you want I can check it with some tty app

[2016-08-01 20:13] james2432 commented on #5
Seems it's a pillow error(library they use) that fails to handle corrupted exif data:
https://github.com/python-pillow/Pillow/issues/518

[2016-08-02 06:13] Xevib commented on #5
@james2432 does it work with a specific version of pillow?

[2016-08-02 07:08] bogdan-telenav commented on #5
Can you send us some pictures by a dropbox link or something to download them?

[2016-08-02 08:34] Xevib commented on #5
@bogdan-telenav https://www.dropbox.com/sh/aow8sglrzmewnkt/AADNV9hX8EZWcViKPHaf-po1a?dl=0

[2016-08-02 10:51] bogdan-telenav commented on #5
as i can see there is a problem with Pillow library but i use another one library because there are some images that work it Pillow and the other work with exifread. So there are only some wanings but moves forward and finish the upload with valid data

[2016-08-03 22:58] ToeBee opened #6 "Can't set upload thread count to 1 in upload_photos_by_exif.py"
The command help for the `upload_photos_by_exif.py` script says valid thread count is 1 to 10 but the check in the argument parsing says `> 1` instead of `>= 1` so if you start the script with `-t 1` it actually fires up 4 threads.

[2016-08-04 06:20] bogdan-telenav commented on #6
Thanks for the report 👍

[2016-08-04 06:20] #6 closed

[2016-08-04 08:04] ToeBee opened #7 "upload_photos_by_exif.py: Temporary connection glitch causes unhandled error"
My wireless connection just blinked out for a few seconds while uploading. After it came back, the upload script started transferring again but did not print anything out on the console. I could see network traffic on the wireless interface and I could see more pictures being added by refreshing my profile page. But no "Uploaded - xx of total ..." messages were being printed.

Then after maybe 5 m

[2016-08-04 08:26] ToeBee commented on #7
Also, When the error happened, it wrote the number of the picture that errored out (number 903) to `count_file.txt` even though it had uploaded 100 more pictures (it was sitting at 1,001)  by the time the timeout finally happened. So when I tried to resume the upload, the pictures kept getting rejected by the server as duplicates. Eventually I figured out what was happening and modified `count_fil

[2016-08-04 10:12] bogdan-telenav commented on #7
Thanks for reporting 👍. Test it again and if there is a problem open again this issue. Thanks again

[2016-08-04 10:12] #7 closed

[2016-08-04 16:12] james2432 opened #8 "GPS Metadata precision"
The data you are passing via python scripts are rounded to 4 decimal points by default
Example:
45.48028925416667, -75.53223892111112
becomes
45.4803,-75.5322
Which gives you a precision of about 11m at the equator (https://en.wikipedia.org/wiki/Wikipedia:WikiProject_Geographical_coordinates#Precision)
Unless you are reusing the gps coordinates from the file to georeference where the picture is(at

[2016-08-05 06:07] bogdan-telenav commented on #8
Thanks for reporting this issue. I didn't know that by rounding by 4 decimals will affect so much so now there is the default values from photos metadata. If you have any other suggestion let us know. Thanks again 👍

[2016-08-05 06:07] #8 closed

[2016-08-05 12:14] james2432 opened #9 "Problem with new COUNT_TO_WRITE variable"
This issue may only occur when cancelled and then resumed. The resume may skip over some pictures in the sequence:

lets say we have 8 files
photo1 to photo8

There are 4 workers in the upload script by default, running concurrently.
So each photo that is uploaded COUNT_TO_WRITE is incremented. Now the user cancels upload because they no longer have the time or they lost internet and need to resum

[2016-08-05 12:53] bogdan-telenav commented on #9
I will investigate this issue. Thanks  for helping 👍

[2016-08-06 16:05] drkludge commented on #5
@james2432 I downloaded @Xevib's pictures.  They open just fine in JOSM.  There's no corruption.

[2016-08-06 16:07] drkludge commented on #5
@bogdan-telenav please provide more details on how to install the environment if you feel that there is a library issue.

[2016-08-06 16:26] drkludge commented on #5
I am experiencing similar failures on two different python environments.  On a QNAP nas with python3 and pytyhon 2.7 I used
alias pip='/share/CACHEDEV1_DATA/.qpkg/Python3/python3/bin/pip'
alias python='/share/CACHEDEV1_DATA/.qpkg/Python3/python3/bin/python3.5'

On Fedora 24 I used
alias pip='/usr/bin/pip3.4'
alias python='/usr/bin/python3'

then piped these packages.

pip install exifread
pip inst

[2016-08-06 17:11] drkludge commented on #5
Here you go.  All 315 images load in Josm with a File>Open operation as shown in the image.  Here's the link to the images in Google Drive.
https://drive.google.com/folderview?id=0Bw7WBSr9fv4tVUE5LWpNR1dNdTA&usp=sharing

![image](https://cloud.githubusercontent.com/assets/1669057/17458118/ec84ed72-5bbd-11e6-8101-7b8fa38bae38.png)

[2016-08-06 21:05] ToeBee opened #10 "One picture mistakenly rejected as a duplicate"
On some of my uploads I'm seeing the following output from the script:

    No sequence file existing
    Found 447 pictures to upload
    processing G0013736.JPG
    skipping - duplicate image
    processing G0013738.JPG
    Uploaded - 2 of total :447, percentage: 0.45%
    processing G0013739.JPG
    Uploaded - 3 of total :447, percentage: 0.67%
    processing G0013737.JPG
    Uploaded - 4 of to

[2016-08-06 21:14] ToeBee commented on #10
I added some more print statements in the place where it prints out the duplicate image message. The `data` variable which I believe contains the response from the server is:

    {'status': {'apiMessage': ' You are not allowed to add a duplicate entry (sequenceIndex)', 'httpMessage': 'Bad Request', 'apiCode': '660', 'httpCode': 400}}

But according to the file names in the output, it is uploading

[2016-08-06 22:05] ToeBee commented on #10
I added more debugging during the upload process. I printed out both the `photo` and `photo_data` variables on line 113. Here is the result:

    No sequence file existing
    Found 522 pictures to upload
    photo:  {'photo': ('G0014448.JPG', <_io.BufferedReader name='/G0014448.JPG'>, 'image/jpeg')}
    data_photo:  {'sequenceIndex': 0, 'coordinate': '38.65599554001036,-96.48843597000031', 'heade

[2016-08-06 22:26] ToeBee commented on #10
It is looking to me like this is a server-side problem. I just did some packet captures and everything looks to be in order on my end of the wire. All the uploads have a unique `sequenceIndex` and I can see the file name in the EXIF data being uploaded. The order of the file names matches the expected sequence index number. The server just seems to be incorrectly returning the duplicated error on

[2016-08-08 06:55] bogdan-telenav commented on #10
Can you send me a link with o couple of photos so i can make a test with them.
Thank's for reporting

[2016-08-08 08:14] bogdan-telenav commented on #5
Thanks for reporting @drkludge we are working on it and try different type of exif readers and try to solve the problem.

[2016-08-08 15:11] ToeBee commented on #10
I am now pretty certain that the cause of this error is a picture other than picture 0 being finished uploading before picture 0 finishes. At work I wasn't seeing it happen nearly as much as at home. But now I made a test sequence where the 2nd file is tiny (220 KB instead of 2 MB) and now it happens every time. You can grab this test sequence here: https://dl.dropboxusercontent.com/u/1475575/OSM/

[2016-08-08 15:30] ToeBee commented on #10
... Which I suppose means that this issue should actually be moved to the openstreetview.org repository since it seems to be a bug on the server side, not the upload script.

[2016-08-09 07:11] bogdan-telenav commented on #10
This issue was moved to openstreetview/openstreetview.org#43

[2016-08-10 11:28] bogdan-telenav commented on #10
@ToeBee i've tested this zip that you create but it work's fine ...

[2016-08-10 14:32] ToeBee commented on #10
Oh, it is probably ordering it wrong for you. I had to modify the script to order by file name. Ordering by mtime would put the tiny file at the very end of the upload. So either switch the script to file name ordering or use `touch` to change the mtime on the files. Either way, make sure that `G0016050` is the second file to be uploaded.

[2016-08-11 09:27] bogdan-telenav commented on #10
@ToeBee We managed to solve the problem. Thanks for reporting.
Explanation:
When you upload using threading it's possible to upload first the photo with index 1,2,3... not the foto with index 0 so there is created the sequence. After that you try to upload the photo with index 0, at this point PHP recognized the 0 as Null so it's rejected. But we fixed the problem. Today we hope to make a deploy w

[2016-08-12 18:40] #10 closed

[2016-08-13 13:58] drkludge commented on #5
I was curious about this problem.  Is the image library providing you with a GPSInfo key.  I could not find that key via gdalinfo or a read of the file with exifread.  exifread had no trouble locating the keys used in your calculations i.e. 'GPS GPSLatitude'.

[code]
A hack of https://pypi.python.org/pypi/ExifRead page's example works on the same file that fails with an image read.

[code]

[code]

[2016-08-16 11:05] bogdan-telenav commented on #5
@drkludge I managed to upload this photos using this type of reading the exif. However the route renders fine on the map but there are no photos...

[2016-08-17 15:48] hbogner opened #11 "Uploading photos by exif ony works with full path"
When trying to upload photos with upload_photos_by_exif.py and entering relative path i get this error:

[code]
I can only proceed if i enter full path:
`:~/git/uploader/upload_photos_by_exif$ python3 upload_photos_by_exif.py -p /home/hbogner/git/uploader/upload_photos_by_exif/2016_08_01_sg2_1/`

Should I be able to set relative and not absolute path?

[2016-08-17 15:53] hbogner opened #12 "Fix upload_photos_by_exif.py to work with Mapillary EXIF"
I have a lot of photos taken with Mapillary app and would like to upload them to OSV too.

When I start upload_photos_by_exif.py with full path i get this error:

[code]

There is EXIF written in each photo, here is gdalinfo output:

[code]
Please find a way to read those photos too.

[2016-08-17 16:32] bogdan-telenav commented on #12
@hbogner Thanks for reporting :) can you gave me a link with some photos.

[2016-08-17 16:33] bogdan-telenav commented on #11
@hbogner I will investigate and fix this.
Thanks for helping 👍

[2016-08-17 16:54] hbogner commented on #11
Photos folder is in the same folder where the script is.
Inside uploader/upload_photos_by_exif/

[2016-08-17 16:57] hbogner commented on #12
Take this one:
![2016_08_01_11_22_48_868](https://cloud.githubusercontent.com/assets/794472/17745525/5ddd2d08-64ac-11e6-9f42-27679b9fbebd.jpg)

[2016-08-17 16:59] bogdan-telenav commented on #12
Thanks

[2016-08-18 08:00] bogdan-telenav commented on #11
We fixed this issue but we investigate more the other you post @hbogner Thanks for helping

[2016-08-18 08:00] #11 closed

[2016-08-19 13:54] hamlet opened #13 "Import mapillary photos"
Hello,
I've uploaded 440k photos to mapillary.
I don't have enough storage for that, so when they are uploaded, I got rid of them.

Could you import of my photos directly from Mapillary ? I'd be happy to share whatever credential is needed.

I don't have much bandwidth either, I don't like the idea of downloading and re-uploading half a tera-byte again.

Best regards.

[2016-08-20 07:41] drkludge commented on #13
Unless you keep a copy of the photos, then you are out of luck.  Mapillary says that they own the photos the last time I read the FAQs.  I have saved a copy of most of my photos for myself.  I am hoping to upload them to OSV but have run into other problems.  Even then, I'll keep a copy of the photos on a USB drive.

[2016-08-20 08:07] hamlet commented on #13
"Each Mapillary User retains all right, title and interest in and to such Mapillary User's Content, and all associated intellectual property rights, subject to these Terms" from  https://www.mapillary.com/terms
I'm not expert with this legal stuff...

[2016-08-22 09:38] hardillb opened #14 "Uploading Video from Virb camera"
I've been looking at how to upload the video from my Garmin Virb camera as mentioned [here](https://www.openstreetmap.org/user/mvexel/diary/39274). I'm struggling to work out what files the python code needs, looking in the code I can see it looking for a track.txt but I'm not sure what the format of this is supposed to be.

I have the fit and gpx files to go with the mp4 on the camera.

Any point

[2016-08-22 09:49] bogdan-telenav commented on #14
@hardillb Can you send us a dropbox link with some samples video + gpx files ( this should be more easier to investigate).

track.txt protocol:
Each row contains only the value that was updated any other value is left empty.
timestamp;longitude;latitude;elevation;horizontal_accuracy;GPSspeed;yaw;pitch;roll;accelerationX;accelerationY;accelerationZ;pressure;compass;videoIndex;tripFrameIndex;gravity

[2016-08-22 10:17] hardillb commented on #14
It's a bit big (3.25gb) for my free dropbox account, I'll stick it up on my home web server when I get back tonight.

Do you happen to have any scripts to turn the GPX into the CSV?

[2016-08-22 10:25] bogdan-telenav commented on #14
Not right now ... If you have any other type of transfer file it's ok for us

[2016-08-22 13:56] hardillb commented on #14
What units are videoIndex and tripFrameIndex in?

[2016-08-22 13:58] bogdan-telenav commented on #14
videoIndex - the index of the video file
tripFrameIndex - current frame's index, relative to entire track.

[2016-08-22 14:03] hardillb commented on #14
yes, but is videoIndex a frame count or time in seconds?

And is tripFrameIndex a count of images since the start of the track or the video frame count?

[2016-08-22 14:12] bogdan-telenav commented on #14
The mobile osv apps split one trip in several videos. videoIndex is the index of a video in a trip.  Also on the mobile apps each video has 50 frames. For example  when you start a trip you have:
   - videoIndex = 0
   - tripFrameIndex = 0
But when you have 50 images the values are:
   - videoIndex = 1
   - tripFrameIndex = 50
And so one and so fourth....

[2016-08-23 07:31] bogdan-telenav commented on #14
Forbidden

You don't have permission to access /openstreetview/VIRB0135.MP4 on this server.

[2016-08-23 07:37] hardillb commented on #14
fixed

[2016-08-24 09:44] bogdan-telenav commented on #5
@drkludge @james2432 @Xevib i fixed this issue. I will appreciate if you test it and send me some feedback. Thanks again

[2016-08-24 09:44] bogdan-telenav commented on #12
@hbogner i fixed the issue. Please try again and i will appreciate any feedback

[2016-08-24 09:56] Xevib commented on #5
@bogdan-telenav I don't know if its related with the problem , but now I'm getting  this error

Traceback (most recent call last):
  File "/home/xevi/gits/uploader/upload_photos_by_exif/upload_photos_by_exif.py", line 9, in <module>
    import urllib.request, urllib.error, urllib.parse
ImportError: No module named request

I'm using python 2.7.11+ and my pip freeze is:

apt-xapian-index==0.47
aptu

[2016-08-24 10:00] bogdan-telenav commented on #5
This tool is functional only with python 3.x, and i'm using python 3.5.1

[2016-08-24 10:06] Xevib commented on #5
@bogdan-telenav ok , please update this https://github.com/openstreetview/uploader#requirements to avoid confusions

With python3.5 I'm geting this message
Fail to create the sequence
Please restart the script

I debugged the script and the variable id_sequence is empty on the line 321

[2016-08-24 10:08] hbogner commented on #12
Upload went OK.
Sequence shows ok on map, but when viewing sequence photos are not in order.
Take a look at the sequence:
http://openstreetview.org/map/@45.48046211462135,15.552319586277006,18z

[2016-08-24 10:54] bogdan-telenav commented on #12
Can you send me this photos ?? i know what is the problem but i have to investigate and fix this problem in general.

[2016-08-24 11:09] bogdan-telenav commented on #5
Can you go to the folder and delete if there exist an sequence_file.txt and a count_file.txt am the restart the script ?

[2016-08-24 11:46] hbogner commented on #12
Here you go:
https://dl.dropboxusercontent.com/u/3220458/2016_08_01-sg2.zip

[2016-08-24 13:16] bogdan-telenav commented on #12
Ok, i fixed this issue by sorting different the photos because there was several images with the same timestamp.
Can you please delete from your folder where you have the images:
-sequence_file.txt
-count_file.txt

The try again to upload those images and delete the sequence with the bug?
Thanks.
I will appreciate any feedback 👍

[2016-08-24 13:32] hbogner commented on #12
Every photo has different time stamp.
Deleted old sequence and those files, then repeated the upload, it looks the same.

[2016-08-24 14:02] bogdan-telenav commented on #12
If i print for several images the timestamp:
2016_08_01-sg2_3/2016_08_01_11_22_48_868.jpg
2016-08-01 11:47:44
2016_08_01-sg2_3/2016_08_01_11_22_52_575.jpg
2016-08-01 11:47:44
2016_08_01-sg2_3/2016_08_01_11_22_53_740.jpg
2016-08-01 11:47:44
2016_08_01-sg2_3/2016_08_01_11_23_19_133.jpg
2016-08-01 11:47:44
2016_08_01-sg2_3/2016_08_01_11_23_20_369.jpg
2016-08-01 11:47:44
2016_08_01-sg2_3/2016_08_01_11

[2016-08-24 14:11] drkludge commented on #5
@bogdan-telenav  Thanks. I will try it this evening.

[2016-08-24 14:18] bogdan-telenav commented on #12
can you try again with the same steps? Thanks 👍

[2016-08-24 14:24] hbogner commented on #12
You are looking at the wrong place for time info ;)
2016-08-01 11:47:44 is the time they were copied from phone to the computer, and they were taken hours before
[code]

[2016-08-24 15:11] bogdan-telenav commented on #12
Thanks for info i will fix this tomorrow 👍

[2016-08-25 05:13] drkludge commented on #5
It looks like there's some more work to be done.  I received a login error on a new use of the *py code.

1.I received the login error.  I tried a few more times.  I then logged into both osv and osm. With no luck.
2.I used `touch id_file.txt`
3.I used `chmod ugo+rw id_file.txt`
4.I added my `osm_numeric_id;osm_user_text_id` to the id_file.txt file.
5.The id_file.txt and the upload py file are at

[2016-08-25 07:14] Xevib commented on #5
@bogdan-telenav happenns the same after removing the files

[2016-08-25 08:30] bogdan-telenav commented on #12
Solve this issue by sorting from exif timestamp

[2016-08-25 11:41] #12 closed

[2016-08-25 12:05] bogdan-telenav commented on #5
@drkludge Can you retry the  upload with the latest fixes on upload_by_exif because there was a bug by jumping the images  between  locations

[2016-08-25 12:28] bogdan-telenav commented on #5
@Xevib can you retry ... I added several logs and send me the error because i can't reproduce it.

[2016-08-25 12:50] hbogner commented on #12
First two photos seem to be switched, I'll test on another larger sequence to see If it works fine.
http://openstreetview.org/details/14475/0

Another point:
[code]
Shouldn't that be read from exif, and not the time of the upload?

[2016-08-25 12:57] hbogner commented on #12
It would also be great to read mapillary sequence uuid and to automaticaly split them into different OSV sequences.
I have all my photos grouped by days, not individual sequences.

[2016-08-25 13:07] Xevib commented on #5
@bogdan-telenav With the last version  I'm getting this error:
Traceback (most recent call last):
  File "/home/xevi/gits/uploader/upload_photos_by_exif/upload_photos_by_exif.py", line 441, in <module>
    main(sys.argv[1:])
  File "/home/xevi/gits/uploader/upload_photos_by_exif/upload_photos_by_exif.py", line 323, in main
    time_stamp_list.append({"file": photo_path, "timestamp": get_exif(path

[2016-08-25 13:51] bogdan-telenav commented on #12
We could create a script that will split the photos in several folders if the exif timestamp will differ with more than one minute. What would you say is this a good solution?

[2016-08-25 13:55] drkludge commented on #5
@bogdan-telenav Will a new upload replace the pictures that I have already uploaded?  I ask because it says that I have 100+ tracks being processed.  I do have one track uploading at the moment.

1.Can you remove all these tracks?
2.Do I need to remove the count.txt and sequence_file.txt in the image directory before uploading the files again?

I can try again tonight.

[2016-08-25 14:02] bogdan-telenav commented on #5
@drkludge
1. I can remove the tracks but you can doit faster by going to your account  and press the garbage icon, but we only can do this in the next week.
2. Yes you have to delete count.txt and sequence_file.txt manually.
3. The pictures will not be replaced ...
4. Can you try with one folder and send me and sequence id? Thanks
Thanks again for helping 👍

[2016-08-25 14:40] kertase opened #15 "Only Uploaded error"
Hi,

When I try uploading with upload_photos_by_exif.py   the only thing I get is:

No sequence file existing
Found 47 pictures to upload
 Uploaded error
Uploaded error
Uploaded error
Uploaded error
Uploaded error
Uploaded error
Uploaded error
Uploaded error
Uploaded error
Uploaded error
Uploaded error
Uploaded error
Uploaded error
Uploaded error
Uploaded error
Uploaded error
Uploaded error
Upload

[2016-08-25 15:06] bogdan-telenav commented on #15
@kertase hi can you provide us a link with some samples with your images.
Thanks

[2016-08-26 08:10] drkludge commented on #5
I removed all the tracks via the OSV interface. [The track paths are still on the map.](http://www.openstreetview.com/map/@33.5113431721964,-112.06089019775389,13z)  I uploaded the 2016_07_30_15_12_01_739___Mapillary directory of photos again via sequence id: 14860.  Let me know if these photos are good.

[2016-08-26 08:53] kertase commented on #15
Well you will find a sample here: http://3d4pi-avenches.alsenet.com/panos/
Normally to upload to services like yours I still add some extra metadata such as Orientation and XMP data for panoramas if they are need but since I did not find documentation on the needed tags I was going to look into it…

[2016-08-26 09:19] bogdan-telenav commented on #5
@drkludge This is good 👍 Thanks for the feedback 👍 You can go one.

[2016-08-26 14:12] drkludge commented on #5
@bogdan-telenav Thanks for taking the time to listen to several reports and fixing the problems as they showed up.  I will start the upload over the weekend.

1.I submitted a ticket concerning the removal of images on the website.
2.Did you fix the [initial id_file.txt issue?](https://github.com/openstreetview/uploader/issues/5#issuecomment-242282789)  I had to create the file before the program w

[2016-08-26 17:16] bogdan-telenav commented on #5
@drkludge
1. I'm trying to reproduce but i can't find the pattern ... but i'm gonna try more 👍 and let you know when we solve this issue
2. We know about the issue when remove the deleted tracks and  they are on the map we gonna solve this issue Thanks for reporting 👍
3. If you find any other problem/bug or something i will appreciate any report
Thanks for helping and for the photos

[2016-08-26 17:35] bogdan-telenav commented on #15
Hi i think the problem are the panoramas photos... Can you try with normal photos to upload? Thanks for reporting.
I'm keep going to investigate this issue and when we solve it i'l let you know
Thanks again 👍

[2016-08-26 21:31] kertase commented on #15
First of what are you maximum size upload limits?

What kind of support do you have support for panoramas?

What tags do you use and would be nice for you for them to be present in the image metadata?

Unfortunately I could not find any documentation answering those questions…

[2016-08-27 04:37] drkludge commented on #5
@bogdan-telenav The long story short is that you are not handling an empty id_file.txt on first use.  Here's how to recreate the problem.

1.You must become mortal to see the problem.
2.I had about 16 OSV OAuth settings.  I removed all of those files.
3.I moved the id file out of the way `mv id_file.txt  old_stuff_to_break_things.txt`.  You need to run the program as if you pulled it down from git

[2016-08-29 10:35] bogdan-telenav commented on #5
@Xevib Do you still have problems with this script?

[2016-08-29 14:05] bogdan-telenav commented on #12
@hbogner Can we still help you with sorting your photos and upload tool?

[2016-08-29 14:10] #9 closed

[2016-08-30 05:36] hbogner commented on #12
@beataj-telenav Yes, that kind of a script would help. Busy currently so more feedback later.
Script could read Mapillary sequence UUID, or even timestamp as you said, and split them into several folder.

[2016-08-30 17:50] Xevib commented on #5
@bogdan-telenav with the last update I'm having this message:
Fail code:'osv'
Fail to create the sequence
Please restart the script

[2016-08-31 06:29] kertase commented on #15
Hi,

Could you tell me please at least what upload size limits you have on   your servers?

Or point me towards the documentation that could tell me?

Thanks you very much

K.

[2016-08-31 06:48] bogdan-telenav commented on #15
Hi sorry for late response.

In the next 2 weeks we will publish the documentation.
However maximum file size: 20mb/photo
If i can help you with anything let me know.

Thanks for reporting

[2016-09-07 07:12] bogdan-telenav commented on #12
@hbogner i just commit the script that separate the photos from a folder

[2016-09-08 04:17] d1g commented on #13
@drkludge probably something changed since _the last time_

First, according to https://www.mapillary.com/terms  (v4, Effective Date: June 28, 2016):

But yes, you are restricted to perform mass downloads:

Secondly, trolleyway reported that mapilarity.com interface provides an option to download source resolution, especially photo spheres [#201 Russian discussion](http://forum.openstreetmap.org/v

[2016-09-18 12:32] drkludge opened #16 "Fail code:'osv'"
It has been awhile since I used the upload_photos_by_exif.py script.  My python environment is configured to use python 3.

I received

[code]

I updated to f587495  from 11 days ago.

[code]

I've seen this problem before with the id_file.txt.  So I touched the file

[code]

And now we are back to the same error that I started with.

[code]

[2016-09-22 13:50] hbogner commented on #12
OK, give me some time to test it. Not much free time at the moment.

[2016-09-23 10:43] mvexel opened #17 "upload images with mapillary style metadata"
When you record images with the Mapillary app it stores metadata not in EXIF but some sort of proprietary JSON structure. Some users keep their images recorded with the Mapillary app before uploading them, and if they want to upload those to OSV also, they would need something that converts the JSON +images into regular images+EXIF metadata.

If anyone has an example of that JSON please attach one

[2016-09-24 08:21] datendelphin commented on #17
Here is some example exif data:
[code]

[2016-09-27 12:04] bogdan-telenav commented on #16
Hi @drkludge i added access token for security issues but i don't know where is the problem... you still have this issue ?

[2016-10-05 07:11] bogdan-telenav commented on #16
@drkludge i'm trying to reproduce this bug ... but i can't.

[2016-10-05 07:12] bogdan-telenav commented on #5
@Xevib I changed the login methods ... can you try now. Ty for reporting

[2016-10-05 07:12] #15 closed

[2016-10-11 14:12] drkludge commented on #16
1.I grabbed f587495 from 9/7/2016.
2.I moved access_token.txt to access_token.bak.
3.I went to OSM and revoked all my OSV certificates.
4.I try $python upload_photos_by_exif.py -p 2016_09_11_16_01_19_712___Mapillary
5.As expected, I receive a new auth request to OSM. I accept the request in OSM.
6.When I hit the enter key to move on after the accepted auth request, I get a stack trace around acces

[2016-10-13 19:15] Bch78 opened #19 "Error with "upload_video.py" and track.txt generated with OSV app v1.4.4(2)"
A new version of the OSV application has been delivered today:
==> version v1.4.4(2).

A try to use the upload_video.py script with a track generated with app v1.4.4 is aborted with the error:

_"Processing directory: 14763xxxxxxx
Metadata backup found
An error has appeared in track.txt
An error has appeared in track.txt
Traceback (most recent call last):
  File "/Users/xxxxx/Documents/Programmati

[2016-10-14 06:45] bogdan-telenav commented on #19
Thanks for reporting 👍
Aded new versions into python script

[2016-10-14 06:45] #19 closed

[2016-10-16 10:27] Xevib commented on #5
@bogdan-telenav with a clean virtualenv I'm getting this error:
Traceback (most recent call last):
  File "upload_photos_by_exif.py", line 9, in <module>
    import http.cookiejar
ImportError: No module named http.cookiejar

I supose that the module is not on the requirements.txt

[2016-10-17 07:03] bogdan-telenav commented on #5
@Xevib i'm looking for this issue.
- Can you tell me what python.
- pip freeze in the terminal when you enter in virtualenv  so you se the modules that you have instaled in virtuaenv

[2016-10-17 14:07] drkludge commented on #16
[Xevib posted a Fail code:'osv' too.](https://github.com/openstreetview/upload-scripts/issues/5#issuecomment-243522679)  It doesn't mean that his issue is the from the same problem.  Perhaps these two are related?

[2016-10-17 14:13] bogdan-telenav commented on #16
@drkludge Not really he dose not have an import or a library...
For your problem do you put the script in a place with al privileges ?

[2016-10-18 05:35] Xevib commented on #5
@bogdan-telenav Pip freeze:
Django==1.10.2
ExifRead==2.1.2
image==1.4.4
Pillow==3.4.1
rauth==0.7.2
requests==2.9.1
six==1.10.0

Python version:
Python 2.7.12

[2016-10-18 06:41] bogdan-telenav commented on #5
@Xevib So the problem is your version for Python. This script is only for Python 3.x i recomand Python 3.5, this is what i use for development.
The script that upload images based on exif works only with python 3.x.
The script that upload images created with OSV works only with python 2.x.

[2016-10-18 06:42] Xevib commented on #5
Ok, i will try with Python 3

[2016-10-18 06:45] bogdan-telenav commented on #5
Thanks for helping 👍 Try again  and if you didn't do yet put the python script where all users have privileges (I think that can be an issue for creating some files that are used for cashing data).
If theres a problem let me know.

[2016-10-18 17:52] Xevib commented on #5
I tried with python3 and I'm having a problem with the version of Pillow on the requierements.txt that have a problem when installs

[2016-10-19 12:07] bogdan-telenav commented on #5
@Xevib there could be a problem when you want to install on the system. I recommend to create an virtualenv. I see that problem reproduced when you try to install on the system. If the problem persist try to install the latest

[2016-10-19 12:08] bogdan-telenav commented on #16
@drkludge can you give me some images please. I think there could be another issue that is based in images exif. Thanks

[2016-10-21 07:39] bogdan-telenav commented on #16
@drkludge what device and app do you use to capture images ?

[2016-11-01 09:16] bogdan-telenav commented on #17
Implementation for json files were implemented and committed to the latest revision.

[2016-11-01 09:16] #17 closed

[2016-11-18 06:42] ToeBee opened #20 "Hidden temporary file causes upload_photos_by_exif ordering by timestamp to fail"
I just uploaded this sequence: http://openstreetview.com/details/27578/0

Notice that the picture order is completely wrong. Since the ordering by EXIF time stamp was added to the upload script I was surprised by this. But it turns out I had a file named `.GOPR1874.JPG.DRuZYO` in the directory. It was zero bytes in size and looks like something left over from either an interrupted rsync or maybe a

[2016-11-18 09:42] bogdan-telenav commented on #20
Thanks for reporting. I will fix this bug as you recommend by upload only .jpg files 👍

[2016-11-19 08:41] ToeBee opened #21 "Infinite retry loop when resuming an interrupted upload"
After a network glitch in the middle of a large upload I had to CTRL-C the upload script. Upon resuming the upload, some of the files had been successfully uploaded to the server even though the completion of the upload had not been recorded by the upload script yet. This led the server to return a non-200 status code because the file already existed in the sequence. But this made the script retry

[2016-11-20 18:24] drkludge commented on #16
@bogdan-telenav This is not an image issue. I was able to use the Java [OSVLoadr](https://github.com/osmottawa/OSVUploadr/issues/8) application for similar images from the same phone.  [Here is the link to the images in OSV.]( http://www.openstreetview.org/details/27701/34)  I believe the problem is how you are reading and writing the `access_token.txt` and the `id_file.txt` files.  I had to seed

[2016-11-20 20:56] zdila opened #22 "upload script shuffles images"
Upload script uses `DateTimeOriginal` to order files. If this exif field is missing, it shuffles the files. Problem is also if more files have the same value of `DateTimeOriginal` because script doesn't consider `SubSecTimeOriginal`.

Script could also consider using `GPSTimeStamp` and `GPSDateStamp` fields if above are missing.

[2016-11-29 04:01] ToeBee commented on #21
I suppose I should mention that this is in the `upload_photos_by_exif` script.

I was looking at this some more tonight and there is actually code to handle duplicate uploads (apiCode: 660) on [line 160](https://github.com/openstreetview/upload-scripts/blob/master/upload_photos_by_exif/upload_photos_by_exif.py#L160) but it is never being reached because of the non-200 HTTP status code being handle

[2016-11-29 07:32] bogdan-telenav commented on #21
That loop was created so there is no jump trough photos. I will investigate why is the response not 200.
There were some changes with the names. After the name will change i will change the requests.
Ty for using and reporting 👍

[2016-12-05 10:12] bogdan-telenav commented on #16
@drkludge I didn't catch this problem on fresh computers with nothing installed  than python 3... I think there could be a problem of the privileges on the folder. But as i remember you put all privileges  there.

[2016-12-05 20:55] Skippern opened #23 "missing dependencies"
The dependency `cookie jar` (`import http.cookiejar`) is not in the `requirements.txt` archives. Please revise all `requirements.txt` and add all dependencies.

[2016-12-05 21:02] Skippern commented on #23
Same goes for `urllib.request`, it is not clear to me what module to install, so I am not able to run the script for the moment. have several `urllib` versions installed, plus a few modules derived from `urllib`

[2016-12-06 11:13] james2432 commented on #23
Do you have python3? Because that sound like you trying to run it on python2, scripts are only compatible with python3

[2016-12-06 11:17] james2432 commented on #23
It's in the readme as well: https://github.com/openstreetview/upload-scripts/blob/master/README.md#requirements-1

[2016-12-06 11:18] Skippern commented on #23
Tried with python 2.7, 3.4, 3.5 and 3.6, installed all dependencies for all versions. Had a discussion on it on Brazilian telegram, and will try to install virtualenv to see if I can get this sorted.

BTW Using Mac OS X El Capitan

Aun Johnsen

[2016-12-06 11:22] james2432 commented on #23
Cookiejar is a standard lib in python3....maybe your installation is corrupt: https://docs.python.org/3.3/library/http.cookiejar.html

[2016-12-06 11:24] Skippern commented on #23
The cookiejar error I have managed to solve, it is urllib.request that I can’t get around, but reading the dump seems it relates to site.

Aun Johnsen

[2016-12-06 11:44] Skippern commented on #23
This is the current error message, I have just uninstalled and reinstalled completely python3 via port (MacPort package manager)
`
Failed to import the site module
Traceback (most recent call last):
  File "/opt/local/Library/Frameworks/Python.framework/Versions/3.5/lib/python3.5/site.py", line 554, in <module>
    main()
  File "/opt/local/Library/Frameworks/Python.framework/Versions/3.5/lib/pyth

[2016-12-06 11:47] james2432 commented on #23
Python3 is trying to run python2 modules:
<module> import copyreg File "/opt/local/Library/Frameworks/Python.framework/Versions/2.7/lib/python2.7/site-packages/copyreg/__init__.py", line 7, in <module>

[2016-12-06 11:50] Skippern commented on #23
I am reporting this as a bug to MacPorts, to see if they have a solution or a fix for this.

[2016-12-06 11:55] james2432 commented on #23
Do you have anything weird in your path variable?

[2016-12-06 11:58] Skippern commented on #23
`PYTHONPATH=:/System/Library/Frameworks/Python.framework/Versions/2.7/Extras/lib/python:/opt/local/Library/Frameworks/Python.framework/Versions/2.7/lib/python2.7/site-packages`

[2016-12-06 12:00] james2432 commented on #23
Yeah, if you have python3, you should have python2.7 in the path..

[2016-12-06 12:01] Skippern commented on #23
Usually run my own stuff, and most scripts I have are py2.7, I'll add up py3 to the path

[2016-12-06 12:15] Skippern commented on #23
It works when removing all py2.7 elements from the path and keep py3, when having both py2.7 and py3 in the path it falls back on that previous error. But now I have a different run error issue:

`Traceback (most recent call last):
  File "./osc_upload-scripts/upload_photos_by_exif/upload_photos_by_exif.py", line 489, in <module>
    main(sys.argv[1:])
  File "./osc_upload-scripts/upload_photos_by

[2016-12-06 12:20] bogdan-telenav commented on #23
You need to provide full path do the directory.

[2016-12-06 12:40] james2432 commented on #23
Also if you have spaces in path you need to escape them

[2016-12-06 12:41] Skippern commented on #23
It is uploading now, but I will still have to figure out how to deal with $PYTHONPATH, I need to have both 2.7 and 3 elements in it

[2016-12-06 13:10] Skippern commented on #23
found a workaround, made a separate $PYTHON3PATH environmental variable, and run the uploads through scripts. I know it is dirty, but it works

[2016-12-06 13:10] #23 closed

[2016-12-06 14:10] Skippern commented on #13
I am interested in a script that can, preferably over time, download all my Mapillary sequences older than November this year as originals (not processed photos), for backup and resubmit on other projects. There are several sequences that will need heading checked, so I need a way of sorting sequences for manual handling, etc.

[2016-12-06 14:24] Skippern opened #24 "script exit code when having failed uploads"
The scripts are exiting with status `0` on completion, even when uploads have failed. This makes it complicated to run scripts, or verify long sequences. If sequence have not been completely uploaded, the script should return any number but `0`

[2016-12-06 14:29] bogdan-telenav commented on #24
Hmmm ... a log file could be added also you can look into some files like: index_write so you can know what was uploaded or where was stoped. Also the script use this file to know were to begin if there was a problem or the script was stoped

[2016-12-06 14:32] Skippern commented on #24
but it would be rather easy for you to add `sys.exit(1)` if the upload isn't completed, that way I wouldn't need to do multiple checks, though I guess `if [ 'ls *jpg | wc -l' -gt 'cat index_write.txt | wc -l' ]` or something along that line could work for now.

[2016-12-06 14:34] bogdan-telenav commented on #24
👍 Thanks for this idea. In next commits i would add this.

[2016-12-06 14:35] Skippern commented on #24
I'll wait your solution instead of altering the script. Thanks

[2016-12-07 09:56] seb-1204 commented on #13
I would like to do similar to @Skippern to transfer 'selected' mapillary tracks to OSC using a script.

[2016-12-07 09:59] seb-1204 opened #25 "No geotag script"
Hi there, I recommend that OSC offers a 'endorsed' geotag photos from gpx track script.
I would assume this could easily be forked from the [mapillary script](https://github.com/mapillary/mapillary_tools/blob/master/python/geotag_from_gpx.py) [MIT licence]

[2016-12-07 10:05] bogdan-telenav commented on #25
So you want to upload a images but you have images  that don't contain exif but you have an gpx file for them?

[2016-12-08 06:29] seb-1204 commented on #25
That is correct.
The workflow (for mapillary) that has proven good to me is.

1. Take pictures with GoPro and record track with Android mobile (OsmAnd+)
2. download all to computer, rough scan of images to clear out bad ones
3. apply Coordinates from gpx file to the images (using python script)
4. check image location on a map to ensure the GoPro time drift is acceptable. This has been an issue on

[2017-01-24 19:02] james2432 opened #27 "Upload scripts no longer work"
This is the error code received from api:
![image](https://cloud.githubusercontent.com/assets/498547/22261869/a3188968-e23c-11e6-865e-cbdaac7e77c7.png)

The image has GPSImgDirection latitude and longitude.

C:\pyscripts\openstreetview>python upload_photos_by_exif.py -p C:\pyscripts\openstreetview\5\1
No sequence file existing
Found 917 pictures to upload
Request/Response fail
Retry attempt : 0
Re

[2017-01-24 19:15] james2432 commented on #27
Seems to be doing the same on mobile as well

[2017-01-25 06:41] bogdan-telenav commented on #27
I will investigate this issue 👍. Thanks for reporting.

[2017-01-25 12:40] james2432 commented on #27
Seems to be working now.

[2017-01-25 12:40] #27 closed

[2017-05-02 16:35] mprins commented on #22
eg. http://www.openstreetcam.org/details/165078/114

[2017-05-07 02:58] danbjoseph commented on #21
I encountered what seems to be this same issue.
<img width="168" alt="screen shot 2017-05-07 at 9 33 58 am" src="https://cloud.githubusercontent.com/assets/4806884/25777592/0c0c0f94-3314-11e7-902d-e04500ec1538.png">

[2017-05-08 07:10] bogdan-telenav commented on #21
@danbjoseph can you provide a sample of images to test on . Thanks for reporting and helping us to improve OSM 👍

[2017-05-08 10:14] danbjoseph commented on #21
i added 2 additional lines to the count file with the next sequential numbers and on the next attempt it worked.

[2017-05-08 10:16] bogdan-telenav commented on #21
Hmm ... interesting. But it's nice that work for you now

[2017-05-28 20:21] danbjoseph commented on #21
happened again and i couldn't get it to work using the same hack as last time. i've uploaded the folders [here](https://arcimagery.s3.amazonaws.com/osc-upload-errors.zip)

[2017-05-29 06:25] bogdan-telenav commented on #21
Oke 👍 i will investigate this issue ASAP. Thanks

[2017-05-30 15:20] danbjoseph commented on #21
http://openstreetcam.com/details/396680/0 is a sequence that got interrupted during upload, and then i added a couple of lines to the `count_file.txt`
- are there any inconsistencies that may arise due to that? e.g. does the server expect a certain number of image files? and will the lines i added to the count file result in less images uploaded than the expected total?

[2017-05-31 05:59] bogdan-telenav commented on #21
No the server don't know how many images you want to upload.
He only know when you stop the upload with a finish request.
Also you can upload images with longer distance within them but this is not a good idea 👍

Also only yesterday the folder you uploaded has finished to download. Are you still having problems? @danbjoseph

[2017-05-31 18:13] danbjoseph commented on #21
looking at my profile page, the sequences in the folders (with the download link above) that i was having an issue with are no longer marked as 'uploading' but i didn't do anything. does the server eventually close out a sequence if it has been a long enough period with no additional pictures and no finish request?

[2017-05-31 21:26] ToeBee commented on #21
This isn't hard for me to reproduce. I just CTRL-C'd a sequence upload right as it was finishing an image. Now when I try to restart it, it goes into the retry loop. Given my slowish residential internet, there is probably a bigger time gap between sending the last packet of a picture and receiving the ACK back.

But regardless, the problem is still exactly what I described up in the first comment

[2017-05-31 21:37] ToeBee commented on #21
Alternatively, here is a guaranteed way of reproducing it:
1) Ctrl-C the upload in the middle of a sequence upload
2) Open `count_file.txt` and remove the last line
3) Restart the upload

This simulates the last image being fully uploaded to the server but not yet being recorded as finished by the client which is what happens sometimes on connection failures.

[2017-06-03 19:48] mprins opened #32 "`KeyError: '1.1.6'` parsing track.txt"
trying to parse a track.txt file for coordinates I get a `KeyError: '1.1.6'` using the `parseCsv()` function from upload_photos.py

I Looked at the upload_video script but that has 1.1.5 as the hghest version

[2017-06-06 06:37] bogdan-telenav commented on #32
@mprins The problem is that there exist a new version for track.txt, and i didn't updated on github. I will updated this in some day's

[2017-06-06 06:53] mprins commented on #32
right now I'm using the line in https://github.com/mprins/upload-scripts/blob/003c174808ce6aacf363f00f91529dda05fed39b/track_to_gpx/track_to_gpx.py#L51 (part of #33) which seems to work for me, but I may be missing stuff

[2017-06-06 07:28] bogdan-telenav commented on #32
This is not correct, this data has been changed within metadata internal protocol.Since version 1.0.8 was only for images, version 1.1.6 is using images/videos so the there is a new index for videos. This is a correct example for 1.1.6: https://github.com/openstreetcam/upload-scripts/blob/master/upload_osv_videos/upload_video.py#L310

[2017-06-13 15:12] dalacost opened #35 "what about download-scripts?"
Hi, do you have a plan to develop a download API o something like that?

[2017-06-14 12:53] ToeBee commented on #21
The last two nights in a row now I have left 3 uploads in progress when I go to bed. Both nights all 3 uploads failed at the same time and I woke up to finding them spitting out infinite retries. `Retry attempt : 43310`

[2017-06-14 22:48] dalacost commented on #21
i get the same problem several time when uploading a lot of old images. my temporal solution was, delete the sequence from web, delete two .txt files and start upload again. :(

[2017-06-14 23:53] ToeBee commented on #21
You can avoid re-uploading the whole thing by opening the `count_file.txt` and appending numbers to the end of it until the last number equals the number of pictures the website says are already uploaded if you view your user profile page.

I'm not sure how but a few times the numbers have been off by as much as 8. I could understand 4. That means the script fired up 4 upload threads (which it doe

[2017-06-16 10:30] bogdan-telenav commented on #35
Hi
Are you interested in your tracks or maybe something for personal development
Thanks.

[2017-06-16 14:07] dalacost commented on #35
yes, I uploaded all my old photos, and i deleted it after. (many of GB), so i want to give me a opportunity to get my photos again or somebody that want it.
May If I develop a script or API we can give this alternative to users.

i did check a litte and that is not hard, getting info from "/details" and processing the Json, we can reconstruct the GPX file or set the gps position to the image again

[2017-08-23 00:59] danbjoseph opened #42 "corrupted field messages"
using `upload_photos_by_exif.py` in a `virtualenv`
getting lots of the following three messages
[code]
then it starts uploading
[code]
i guess it's a non-critical message?

example picture
![dsc02885](https://user-images.githubusercontent.com/4806884/29594100-a61954fe-877c-11e7-9ca1-5e7416731537.JPG)

[2017-08-25 00:20] ToeBee commented on #21
Has anyone looked at this some more? I mean I'm sure patches are welcome but this problem kind of cuts through some core error handling in the script and I haven't taken the time to fully grasp it all. I was hoping with a sure-fire way of reproducing it posted above, someone would take another look at it.

A couple weeks ago I was hitting this problem on a daily basis while trying to upload a lot

[2017-08-25 22:05] ltog opened #43 "upload_photos_by_exif.py generates HTTP error 500"
Just before I tried to upload some pictures using `upload_photos_by_exif.py` but got the following message:

[code]

Wireshark shows POST requests to `/1.0/photo/` using `Host: openstreetcam.com` being answered with an HTTP error 500. This implies the server has a problem.

Can someone confirm this behaviour?

[2017-09-06 13:12] bogdan-telenav commented on #32
This is fixed

[2017-09-06 13:12] #32 closed

[2017-09-06 13:14] bogdan-telenav commented on #21
Hi guy's. I made an fix for this issue with this refactor. I think the problem was when the requests were made for the same image on the same trip. I didn't check this problem...
I hope for now this is fixed.

[2017-09-06 13:15] alexandrui-telenav commented on #35
Hi @dalacost , the plan is to have a greatly improved 2.0 API ready in a few months that will cover the download as well. We have a few things to wrap up first, but this is high in the prio list. Something can be developed around the current API, indeed, but if it's not urgent I'd wait for the nice one.

[2017-09-21 02:50] ToeBee commented on #21
Haven't uploaded in a while. I just tried last night. One sequence hit an error of some kind. Unfortunately my scrollback buffer doesn't show the beginning of the problems but it did get into a loop of some kind. The sequence **did** finish uploading though. This morning this was in the console:

[code]

However another sequence got stuck in the middle. There was no error, it just stopped at pictu

[2017-09-21 05:51] bogdan-telenav commented on #21
@ToeBee Can you upload the images in some dropbox. I've tested the new script with all images that was on my machine. However there can be some problems. Thanks for reporting and upload images to improve osm

[2017-09-21 05:53] bogdan-telenav commented on #43
Hi can you give me some images to test?? Thanks for reporting 👍

[2017-09-21 05:54] bogdan-telenav commented on #42
No this is not a critical issue. Very probably there are some differences between versions of exif. Thanks for reporting.

[2017-09-21 05:54] #42 closed

[2017-09-21 05:58] bogdan-telenav commented on #25
This can be done for sure. But we must invest few days in this. I will talk with the team lead and propose this to them .
Sorry for the late response. There was some issues on the flow that we improve the osm map.
Thanks again for this advice. 👍

[2017-09-21 06:00] bogdan-telenav commented on #24
@Skippern Can you check now the scripts? I've made some improvements and any feedback is welcomed.

[2017-09-21 06:02] bogdan-telenav commented on #22
@mprins This problem persists?
Thanks for improving osm

[2017-09-21 06:02] bogdan-telenav commented on #21
However all upload this the new scripts are having this issue ?

[2017-09-21 06:03] Skippern commented on #24
@bogdan-telenav I have no time to record at the moment, I will look at having some new traces recorded end of this month, and try the script again.

[2017-09-21 06:04] bogdan-telenav commented on #24
@Skippern Not a problem. Thanks again for everything.

[2017-09-21 14:59] ltog commented on #43
The problem didn't occur anymore. I will report again if it does. I guess for the moment this issue can be closed.

[2017-09-21 15:06] bogdan-telenav commented on #43
Ok i will close this issue for now. Thanks for mapping

[2017-09-21 15:06] #43 closed

[2017-10-02 06:58] bogdan-telenav commented on #22
do you still have this problem??

[2017-10-02 17:32] mprins commented on #22
I tried again and no luck uploading at all.. sit seems to hang for a while at
[code]
and than again at some 120 or so higher, and again and again etc.., basically exhausting sockets and then waiting. There is no feedback as to what is going on.. and no indication when the script will finish if at all

[code]

So the original problem does no longer occur because uploading fails at all

[2017-10-02 17:51] mprins commented on #22
I tried the docker command with limited succes:
[code]
which seemed to start uploading OK (after removing the left behind count and seq id file) but checking the website things are still messed up for this sequence (http://www.openstreetcam.org/details/930585/0)

[2017-10-02 17:58] mprins commented on #22
and a smalll one with images that have direction info as well: http://www.openstreetcam.org/details/930591/0

note to self: 2017_04_26_11_16_19_768

[2017-10-03 06:08] bogdan-telenav commented on #22
@mprins Sorry about this. Can you provide some images?  Thanks!!!

[2017-10-03 15:03] mprins commented on #22
@bogdan-telenav I've uploaded the images of that last sequence to WeTransfer: https://we.tl/2TDKx3ZkQ3

[2017-10-16 16:46] utack commented on #13
Any updates on this?
Asking because the upload scripts failed, and I am close to deleting all my local images

[2017-10-17 07:05] bogdan-telenav commented on #13
HI @utack the problems is with the upload script or that you want to download images from Mapillary and after that upload on OSC??
Thanks 👍

[2017-10-17 07:07] utack commented on #13
@bogdan-telenav both
I used the GUI you have to upload now, so that is solved
But I still have about 100.000 images on mapillary I'd eventually like to transfer some day

[2017-10-21 13:13] britiger opened #46 "Upload script uploads files twice"
I run upload_exif.py for Uploading files auf Garmin Virb Ultra 30. After the script reached 100% it makes a linebreak. After the linebreak the script continues to upload the files a second time in an disorder to the same track. I need to kill the process at this point.

[code]

[2017-10-21 17:17] ToeBee commented on #46
I was about to open an issue about this as well. I think it has been happening for a while but I had some weirdness on my local files that I thought might be contributing to it. But I sorted that out and it is definitely duplicating things. This track is only supposed to have 2325 pictures in it. The upload ended up erroring out with a connection timeout after uploading 3293 pictures:
http://opens

[2017-10-23 05:48] #46 closed

[2017-10-25 04:13] ToeBee commented on #21
I just had an upload fail with a connection timeout error. The script crashed out however it did resume correctly. I also played around with my test plan above (deleting lines from count_file.txt) and it does seem like the infinite retry loop on resume is fixed!

[2017-10-25 05:58] ToeBee commented on #21
I spoke too early. An upload just failed and went into a retry loop. The error printed on the console isn't very helpful:

    Request/Response fail
    Retry attempt : 0
    Retry attempt : 1
    Retry attempt : 2
    Retry attempt : 3
    Retry attempt : 4
    Retry attempt : 5
    Retry attempt : 6
    Retry attempt : 7
    Retry attempt : 8
    Retry attempt : 9
    Retry attempt : 10
    Retr

[2017-10-25 05:59] bogdan-telenav commented on #21
And i was so happy that this issue was solved :))

[2017-10-25 06:01] bogdan-telenav commented on #21
I will try to repoduce this error. Do you have the images with this problem?

[2017-10-25 06:48] ToeBee commented on #21
Well the upload just finished so **you** [have the images now](http://openstreetcam.com/details/955709/1) :) But I really don't think it has to do with the image files. The script just doesn't handle all types of network/sever related errors correctly.

I just got the script to crash by starting an upload and then unplugging the network cable. After 5 minutes nothing had happened so I plugged it b

[2017-10-25 06:58] bogdan-telenav commented on #21
I'm sure that the images are not the problems. But i need some images to test...

[2017-10-25 07:00] bogdan-telenav commented on #21
Thanks for helping. You are awesome.

[2017-10-26 00:07] ToeBee opened #48 "Upload script skips pictures on upload error"
I just had the upload script fail on two tracks with the unhelpful `Request/Response fail` message (maybe at least print out the HTTP status code with that message?) and it went into the infinite retry loop. So I had to kill the upload. I restarted the script and it resumed and reported that it had uploaded all of the images but when I checked my user profile, I noticed that there were fewer image

[2017-10-26 14:40] ToeBee commented on #21
I added the HTTP status code and API message to the information printed out when there is an error on the initial upload. It seems the error that is causing the script to go into an infinite retry loop is returning an `HTTP 400` error from the server with the message `A required argument is missing (photo)`

I have no clue what would be causing the request to go through without the photo data. Or

[2018-02-25 19:03] adb01730 commented on #13
Is there a way to upload my openstreetcam pics to mapillary?
I was using the mapillary app until if failed to detect the gps signal after a android update. I switched to OSC which I now prefer to mapillary. The OSC uploader provides % complete, time to complete, and KB/s. With Mapillary I had to monitor the upload because it would often crash after several hours and have to be restarted.

[2018-02-26 14:21] alexandrui-telenav commented on #13
@adb01730 Good to hear your feedback!
It is possible to copy recorded data from the OSC app before uploading, but the optimised format we're using is not compatible with Mapillary as far as we're aware.

In order to optimise upload time, we encode the photos as frames in video files ( this reduces upload size 2-3X compared to individual JPEGs ). One could split the video files into frames and geot

[2018-03-06 17:18] roirobo opened #50 "upload_photos_from_exif stops"
I tried twice and the upload stops, I think because of some json decoder error.

I'm using python3.5 and had problems before installing Pillow (it solved once I tried to upload example photos)

I get the this message:

/
Found 199 pictures to upload
 64%|███████████████████████████████████████████████████████████████████▋                                       127/199 remaining:12:30  elapsed:18:45

[2018-03-07 15:11] alexandrui-telenav commented on #50
Could you update to Python 3.6 and retry? I'm not very familiar with the script's implementation but asked around and that was the advice.

[2018-04-04 05:08] ToeBee commented on #50
Moving discussion to openstreetcam/openstreetview.org#157 because this is definitely a server side error.

[2018-04-23 14:12] danbjoseph opened #51 "error on upload - ' You are not allowed to add a duplicate entry (sequenceIndex)'"
[code]

[2018-04-23 14:36] danbjoseph commented on #51
seemed to get a little bit further if the script is run again
[code]

[2018-04-23 23:39] kudarisenmon commented on #51
I met the same error last night, too

[2018-05-01 16:01] danbjoseph commented on #50
accidentally additionally logged https://github.com/openstreetcam/upload-scripts/issues/51 about this problem (i'm using `Python 3.6.5`)

[2018-05-07 07:18] bogdans-telenav commented on #51
**( _disclaimer: I am a iOS developer on OpenStreetCam_ )**
Hi @kudarisenmon and @danbjoseph from my experience  this issue reproduces also on iOS, so from my perspective this is a server bug that happens in the next scenario: server receives the first request for let's say index 1 it sends back a bad formatted JSON response, so the client platform (iOS, Android, upload scripts) will interpret as

[2018-05-22 23:05] n76 opened #52 "Unable to upload photos by exif using the Docker image"
I have tried the following where the photos I would like to upload are in the ~/Desktop/2018_0522_140959_887/ folder/directory:

The second one fails on the CLI as Macintoshes don't support a ":" in a file path. All of the others end up giving me the prompt of the form (the oauth_token string is different each time):

    For login go to this URL in your browser:
    http://www.openstreetmap.org/o

[2018-05-23 06:38] bogdans-telenav commented on #52
@n76 OSM changed some OAuth related things. We are trying to figure it out on mobile and after that we will fix it also on the client side.
Firstly the request should be using **https** not **http**.

[2018-05-23 18:12] danbjoseph opened #53 "ERROR LOGIN no GRANT ACCESS"
problems uploading. i've gotten it to work on another computer. not sure what's up now.
[code]

[2018-06-03 22:57] n76 commented on #53
This might be a duplicate of https://github.com/openstreetcam/upload-scripts/issues/52

[2018-06-07 22:44] n76 commented on #52
Seems like neither the scripts nor the Docker image have been updated in quite a while.

My "workaround" was to submit my photos to Mapillary. . .

[2018-06-08 04:48] cliffordsnow commented on #52
Mapillary upload is also broke https://github.com/mapillary/mapillary_tools/issues/236

[2018-06-08 08:58] bogdans-telenav commented on #53
This should be fixed it was related to a change in the OSM OAuth service.

[2018-06-08 08:58] #53 closed

[2018-06-08 09:02] bogdans-telenav commented on #52
Fixed. It was related to a change in the OSM OAuth service.

[2018-06-08 09:02] #52 closed

[2018-06-08 09:09] bogdans-telenav commented on #14
@hardillb I made a script to upload VIRB data and will push it in the near future to this repo

[2018-06-10 20:21] LivInTheLookingGlass opened #54 "Upload tracks taken on Waylens cameras"
Recently Telenav and OSM US made a partnership to give out cameras to OSM contributors. It would be nice if we could upload tracks from this partnership using a fully FLOSS stack. I can submit example layouts to be used for these scripts

[2018-06-15 12:04] alexandrui-telenav commented on #54
Hey @gappleto97, we don't really have someone to work on that in the near future unfortunately.
But to make sure we're on the same page, can you share the FLOSS examples you were thinking about? Not sure how that differs to the scripts on this repo ( I know Waylens is not currently supported, but not sure what FLOSS involves extra )

[2018-06-17 09:03] gappleto97 commented on #54
I meant the layout of things on the SD card. Directory structures, file types, etc.

FLOSS = Freely Licensed Open Source Software

[2018-06-18 12:30] alexandrui-telenav commented on #54
File management is under Waylens firmware's control where we can't really do much ( it's being used by the non-OSC Waylens cameras as well )..

[2018-06-22 22:58] n76 commented on #52
When I try to use the scripts directly, not in a Docker image, it seems to get past the AUTH/login step. The script finishes almost instantly with no error messages and no logging/status updates. And when I log into OpenStreetView it does not show any photos as having been uploaded or in progress for upload.

Is this the same problems or a different one?

In any case, it looks like you need to upd

[2018-06-27 15:47] danbjoseph opened #55 "odd countfile contents"
sequence_file.txt
[code]
first part of count_file.txt
(`1` appears three times?)
[code]

[2018-06-27 15:48] danbjoseph opened #56 "confusing handling/logging of API response"
[code]

[2018-07-20 01:34] rwelty1889 opened #58 "Running from Docker fails on Mac"
Mac OS 10.13.5, Docker 18.03.1-cd-mac65

Time Lapse 2 rwelty$ docker run -it --rm -v ./ openstreetcam/upload_photos_by_exif
Unable to find image 'openstreetcam/upload_photos_by_exif:latest' locally
latest: Pulling from openstreetcam/upload_photos_by_exif
9f0706ba7422: Pull complete
d3942a742d22: Pull complete
62b1123c88f6: Pull complete
2dac6294ef18: Pull complete
a7bb658fb099: Pull complete
a811d

[2018-07-20 01:41] rwelty1889 commented on #58
ok, never mind. i didn't realize the restrictions on paths for docker. now i have a login/oauth problem instead.

[2018-07-20 12:10] rwelty1889 opened #59 "oauth failure with docker, upload_photos_by_exif"
MacOS 10.13.5, Docker 18.03.1-ce-mac65

i clip out the provided URL, enter it into my browser and click on Grant, and get the Authorization request allowed screen. i return to the terminal window and press enter and am informed that oauth has failed:

rwelty$ docker run -it --rm -v "$IP":/data openstreetcam/upload_photos_by_exif

For login go to this URL in your browser:
http://www.openstreetmap.o

[2018-07-21 20:45] #58 closed

[2018-07-30 17:30] rwelty1889 commented on #59
behavior unchanged 10 days later.

[2018-08-03 12:22] bogdans-telenav commented on #59
@rwelty1889 sorry for the late replay.
It looks like you are using a old version of the scrips.
I am figuring this out from the URL you posted in your previous message.
The URL should be https.
This was fixed 2 months ago. [https://github.com/openstreetcam/upload-scripts/commit/4eb172a275726da1e3cb4621b53e19ce2db9ea0f](url)

[2018-08-03 18:08] rwelty1889 commented on #59
ok, but i'm using the url from the directions in the readme here on GitHub. maybe you should make sure those are up to date.

[2018-08-03 18:10] rwelty1889 commented on #59
ok, the only url in the process is the one that is spit out by docker for me to enter into my browser. i changed it to https and got no change in behavior.

[2018-08-04 14:54] rwelty1889 commented on #59
tried clearing my docker cache and images. no change in behavior.

[2018-08-04 15:02] bogdans-telenav commented on #59
@rwelty1889 i will look into it more next week.

[2018-08-13 12:58] rwelty1889 commented on #59
any progress?

[2018-08-21 14:54] bogdans-telenav commented on #59
Sorry not yet.

[2018-08-22 14:08] alexandrui-telenav commented on #59
@rwelty1889 , unfortunately the original maintainer of the scripts is no longer involved in the project. Bogdan does some maintaining on the side but didn't look into this deep enough, it seems.

He's now in vacation for 2 weeks, if another user won't jump in to take a look it will take a while to see what's going on..

[2018-08-22 15:45] rwelty1889 commented on #59
i've refrained from making suggestions while you work through your process. but since the first reaction i got was that i was using outdated code, my first guess would be that the docker instance(s) didn't updated with the last round of bug fixes. but that's just a guess, i'm no docker expert, just a novice docker user.

[2018-08-22 15:58] rwelty1889 commented on #59
note that i am on vacation until sunday and wouldn't be able to try anything until i get home anyway.

[2018-08-29 13:30] naoliv opened #60 "Simply not working"
I've followed all instructions [from here](https://github.com/openstreetcam/upload-scripts#requirements), authorized the app and then it simply does nothing.

For example, if I run `python upload_photos.py -p /arquivos/osc/OSV/SEQ_1535382073557/` it seems to just quit, without any error, warning or anything else (including not uploading the files).

The exit code is `0`.

What can I do to help in

[2018-08-30 20:56] polarbearing commented on #13
@alexandrui-telenav - is that video spec identical to what the Waylens (telenav version) produces? I found metadata there as a binary, what is the structure of this binary and is it possible to convert that into a human readable form? My intention is to split the video into frames so I can review them and drop frames if necessary.

[2018-08-31 16:11] HolgerJeromin commented on #13
Last time i checked you could change the format in the OSC app.
I did so to be able to delete images of my hand, car dashboard, pushchair, overexposed images and other stuff.

[2018-08-31 20:56] polarbearing commented on #13
Yes exactly. Tried the OSC app but does not work because of Google-play dependencies (openstreetcam/openstreetview.org/issues/90, openstreetcam/android/issues/60).
Have a Waylens here however which also creates a frame-collection as a video.

[2018-09-02 22:38] rwelty1889 commented on #50
just got this message on my second upload using the script, uncertain how to proceed.

[2018-09-03 12:04] alexandrui-telenav commented on #13
@polarbearing the apps don't use the same format as Waylens, the apps only store mp4 video files + a csv metadata / track.
I don't know how to do what you're intending to be honest, they also pack the files in a Waylens proprietary .vdb file just before upload which we decode server side.

Question: isn't more convenient to upload everything then review & discard from the OSC website?

[2018-09-03 12:05] alexandrui-telenav commented on #59
good to hear @rwelty1889 , bogdan will come back soon and look into this

[2018-09-03 12:07] alexandrui-telenav commented on #50
Please retry, the script should only attempt to upload new files

[2018-09-04 14:28] rwelty1889 commented on #21
i just saw this error for the first time:

Request/Response fail
Retry attempt : 0
Retry attempt : 1
Retry attempt : 2
Retry attempt : 3
Retry attempt : 4
Retry attempt : 5
Retry attempt : 6
Retry attempt : 7
Retry attempt : 8
Retry attempt : 9
Retry attempt : 10
Retry attempt : 11
Retry attempt : 12
Retry attempt : 13
Retry attempt : 14
Retry attempt : 15
Retry attempt : 16
Retry attempt : 17
Ret

[2018-09-04 14:29] rwelty1889 commented on #21
and i see that there is no count_file.txt in the directory at all, so i cannot modify it to try and resolve the problem.

[2018-09-04 16:03] rwelty1889 commented on #21
and it turns out that sequence_file.txt is there but zero length.

[2018-09-04 16:36] rwelty1889 commented on #21
no evidence of this upload on my profile page, so this is pretty thoroughly borked.

[2018-09-04 17:09] ToeBee commented on #21
Add a line to the `photo.py` file that prints the server response on upload fail. The script just gives a useless "fail" message while hiding the server response that may contain useful error messages. Around line 60 make it look like this:
[code]

Also, if there is no count_file.txt, check for a... I think it is sequence_file.txt maybe? If that exists, try deleting it. That will cause it to creat

[2018-09-07 14:58] #55 closed

[2018-09-07 21:25] blaueente opened #61 "order of pictures is garbled"
I have processed my images according to:
1. make images with action cam + gpx logger
2. use josm to write gps data into exif
3. use mapillary_tools process to interpolate directions and prepare for mapillary upload
4. upload to mapillary
5. upload to osc using the upload script (multiple times resumed)

Problem:
The order of the images is wrong, such that there are a lot of jumps, as you can see i

[2018-09-11 15:31] rwelty1889 commented on #21
and the answer is that a new upload starts. if i do nothing else, i guess the original upload will be parked forever. i am considering deleting sequences from the web interface and re-uploading.

[2018-09-11 15:31] rwelty1889 commented on #21
i also changed the upload by exif script to use only one thread and have had no crashes since.

[2018-09-11 16:26] rwelty1889 commented on #21
interesting - in a directory where the upload fell into the retry loop, if i set upload threads to 1 and then restart, it did pickup from where it left off and is currently completing the upload, apparently without loss. the one that lost the original uploaded images is the one where count_file and sequence_file were corrupted; removing them and restarting only uploaded the previously unuploaded i

[2018-09-21 10:10] bogdans-telenav commented on #60
@naoliv I am guessing this is a android made sequence with the latest app version. It has been some time since we updated the scripts and most probably they are not able to get the required info from the latest android sequences. I am working on a new version of scripts in witch we will fix the major flaws of the current ones (upload, sequence discovery).
If i find that is just a matter of updatin

[2018-09-21 10:14] bogdans-telenav commented on #61
@blaueente sorry for the inconvenience. I am downloading your images to see if we can fix this issue server side with a post processing script.
Either way i am working on a new version of upload scripts that will tackle the issues of uploading and track discovery that we currently experience on the current upload scripts version.

[2018-09-21 10:16] bogdans-telenav commented on #59
@rwelty1889 started work on this. I will keep you posted.

[2018-09-21 10:18] #56 closed

[2018-09-21 10:27] bogdans-telenav commented on #48
@ToeBee this was a upload script issue. Started work on a new script to fix this issues.

[2018-09-21 11:50] naoliv commented on #60
Great, thanks!

[2018-09-29 14:12] rwelty1889 commented on #51
for the time being, i am using this script which forces the threads to 1 to avoid retry problem, and automagically restarts otherwise. it iterates over subdirectories which helps with my GoPro stuff. it is doing ok.

#/bin/sh

#handle ^c somewhat gracefully
trap 'exit 1;' INT

#python to use
python=python3.6

#path to upload_exif.py script
upload_exif=/Users/rwelty/Projects/openstreetcam/upload-sc

[2018-12-06 16:20] pkoby commented on #61
I'm having the same issue. For example: http://openstreetcam.org/details/1311657

I don't know if these sequences are somehow different than the ones from the month prior (the messed up ones are from Dec 2016, Nov 2016 was fine). The EXIF tags look the same as far as I can tell.

[2018-12-16 18:35] Approksimator commented on #21
This error constantly appears. Set upload threads 1 to 10. The error appears when there are more than 100 files in the sequence. There are a lot of sequences on the site OSC because of this during the uploading process.

[2018-12-17 14:59] bogdans-telenav commented on #21
@Approksimator thanks for reporting. We are currently woking on creating a new version of the scripts that will handle your problem.

[2019-01-14 02:28] mds08011 opened #63 "Python3?"
Should `python upload_exif.py -p /Users/example/Desktop/Photos/AllPhotos/` instead be **python3** upload_exif.py -p /Users/example/Desktop/Photos/AllPhotos/?  I was getting errors related to the 'request' module when running the former.

[2019-01-14 03:54] kjartanbirgis opened #64 "I was able to use upload photos by exif"
I was able to upload I can see the files on the server but  the console is just writting Retry attempt: increasing number, and on the server the photos didn't come at right order, is it possible to change it? How is it uploaded by filename or by date taken?

[2019-01-14 17:26] mds08011 commented on #64
A previous issue seems to indicate that `DateTimeOriginal` and `CreateDate` are used to dictate the order.

#61

[2019-02-05 21:15] slumnitz commented on #35
Hello everyone, have there been any developments regarding a download API?

[2019-02-06 20:51] vr00n commented on #35
you may want to take a look here:
https://apollo-api-v2.openstreetcam.org/apolloService/

[2019-02-13 01:37] alrs opened #67 "Python 3.6 is Not Widely Available"
This software does not run on Debian (or Raspbian) out-of-the-box, as it uses the PEP 526 variable annotations that only exist in Python 3.6.

Are you amenable to fixing this? I've submitted a [PR](https://github.com/openstreetcam/upload-scripts/pull/66) to aid in getting Python 3 with `virtualenv` as described in the README.

[2019-02-13 10:41] bogdans-telenav commented on #64
In the current version we are using the GPSDateTime. @mds08011 was correct.

[2019-02-13 10:41] #64 closed

[2019-02-13 10:47] bogdans-telenav commented on #63
We massively changed the upload scripts. Now we support upload of exif data just by using the `python osc_tools.py upload -p PATH ` i think this should work without issues. If you find any please create an issue.

[2019-02-13 10:47] #63 closed

[2019-02-13 10:49] bogdans-telenav commented on #60
Finally it is done! If you find any issue with the current version please provide feedback.

[2019-02-13 10:49] #60 closed

[2019-02-13 10:52] bogdans-telenav commented on #51
Finally done it! Thanks for your patience! If you find any issues with the new version please create a issue and we will address it as soon as possible.

[2019-02-13 10:52] #51 closed

[2019-02-13 10:54] bogdans-telenav commented on #50
Finally done it! Thanks for your patience! If you find any issues with the new version please create a issue and we will address it as soon as possible.

[2019-02-13 10:54] #50 closed

[2019-02-13 10:55] bogdans-telenav commented on #48
Finally done it! Thanks for your patience! If you find any issues with the new version please create a issue and we will address it as soon as possible.

[2019-02-13 10:55] #48 closed

[2019-02-13 10:57] bogdans-telenav commented on #25
Update on this: not quite what you requested but related to this, we now support generating exif data from OSC Metadata file format.

[2019-02-13 11:01] bogdans-telenav commented on #24
We made major changes to the previous scripts. So this must be re-fixed for the current version.

[2019-02-13 11:04] bogdans-telenav commented on #22
We made major changes to the previous version of the script and we now take into consideration GPS time stamp, so this is most likely fixed. If you find any other problem please create a new issue.

[2019-02-13 11:04] #22 closed

[2019-02-13 11:05] bogdans-telenav commented on #21
Finally done it! Thanks for your patience! If you find any problem with the new version please create an issue and we will address it as soon as possible.

[2019-02-13 11:05] #21 closed

[2019-02-13 11:07] bogdans-telenav commented on #16
We made major changes to our previous version of scripts and we consider this issue as being resolved. If you find any other problem in the new version please report a new issue.

[2019-02-13 11:07] #16 closed

[2019-02-13 11:10] bogdans-telenav commented on #14
Update: we worked extensively on a new version of the scripts and we will address you suggestion on the next release. The script that i made in June is no longer compatible with the current version.

[2019-02-13 11:12] bogdans-telenav commented on #5
We made major changes on our upload scripts and we consider this issue addressed so i will close it. If you find any problem with the new version please create an issue and we will address it as soon as possible.

[2019-02-13 11:12] #5 closed

[2019-02-13 11:31] bogdans-telenav commented on #59
We made major changes to the upload scripts, unfortunately we temporary removed Docker support. Thanks for your patience! If you find any problem with the new version please create an issue and we will address it as soon as possible.

[2019-02-13 11:31] #59 closed

[2019-02-13 11:35] bogdans-telenav commented on #61
Thanks for your patience we posted the new version of the upload scripts that should have addressed your issue. If you find any problem with the new version please create an issue and we will address it as soon as possible.

[2019-02-13 11:35] #61 closed

[2019-02-13 13:26] bogdans-telenav opened #70 "Merge was not done properly"
https://github.com/openstreetcam/upload-scripts/blob/091c39450dbd92fcf244e2073d41b2ab651b788c/osc_discoverer.py#L202

[2019-02-13 13:30] bogdans-telenav commented on #70
Fixed in #861e5ad

[2019-02-13 13:30] #70 closed

[2019-02-13 23:47] mds08011 commented on #35
I wasn't able to open the API specification document, but there is an older PDF here: https://github.com/openstreetmap/iD/issues/4851#issuecomment-381148269

[2019-02-14 07:08] bogdans-telenav commented on #35
@slumnitz we are still working on 2.0 API and the download will still be included there and supported in the new version of the scripts.

[2019-02-14 07:13] bogdans-telenav commented on #67
@alrs as you saw I used type suggestions quite a lot, and it would be 2-3 days of work to remove it. is there any way that you could use Python 3.6 or is there any reason not to use it?

[2019-02-14 07:29] ToeBee commented on #67
Is this what is causing a syntax error  at `parser: ArgumentParser = ArgumentParser(prog='python osc_tools.py',`?

I'm running Linux Mint 18.3 which is an LTS supported until 2021. It is based on Ubuntu 16.04 and does not seem to have python 3.6 available in normal package repos. It looks like I might be able to add a PPA to get it installed though.

[2019-02-14 08:05] alrs commented on #67
I went through the code and saw how hard it would be to back out all the 3.6 stuff.

@bogdans-telenav it's not particularly clean to install random versions of Python on a system like Linux where most things are package managed, so it's not a simple thing like using `brew install` or whatever it is people do on Windows. Unlike Windows and MacOS, parts of the Linux operating system use Python, so i

[2019-02-14 08:18] bogdans-telenav commented on #67
@ToeBee yes

[2019-02-14 08:40] #67 closed

[2019-02-14 12:00] mfa opened #72 "how to upload a folder with images? (not a sequence)"
I record images using a gopro and uploaded them with ``upload_exif.py``.
How to upload a folder with images now?

[2019-02-14 12:37] bogdans-telenav commented on #72
python osc_tools.py upload -p folder_with_images

[2019-02-14 12:39] mfa commented on #72
response:
[code]

In the folder are 1500 files, i.e. G0016767.JPG

[2019-02-14 12:43] bogdans-telenav commented on #72
Interesting, can you send me a sample of let's say the first 2 images? and/ or the OSC_log.log file found where you have the scripts.

[2019-02-14 12:50] mfa commented on #72
https://paste.madflex.de/PQPF6Hmf#debug_image_upload.zip

[2019-02-14 12:52] bogdans-telenav commented on #72
@mfa i started investigating.

[2019-02-14 13:05] bogdans-telenav commented on #72
@mfa fixed your issue with [commit](https://github.com/openstreetcam/upload-scripts/commit/16e9d3e3729a024cdfea7a183ece762952d5eab3). Thanks for reporting. Please close this after you confirm that all works as expected.

[2019-02-14 13:07] mfa commented on #72
thx. upload works now.

[2019-02-14 13:07] #72 closed

[2019-02-14 15:10] ToeBee commented on #54
Is there any documentation about how data is structured in the `.idx` files? The images are just in a 1 FPS video stream and would be trivial to pull out using ffmpeg or similar. But the GPS info seems to be in the `.idx` files and it isn't in plain text and is mixed with syslog output as well.

[2019-02-14 15:32] bogdans-telenav commented on #54
@ToeBee We are not aware of any documentation.

[2019-02-14 16:04] jalessio commented on #54
@ToeBee I was able to get a parseable CSV by using Waylens Studio and selecting the "Export Raw Data" option:
<img width="381" alt="screen shot 2019-02-14 at 8 56 19 am" src="https://user-images.githubusercontent.com/178680/52799145-8472e400-3036-11e9-9ffc-965bfceb1f5a.png">

This produces a CSV file like this:
https://docs.google.com/spreadsheets/d/1AVzWMV3tckRaN-YqWxL5pVK7hZGBzQzsh3CHYLVn2wE/edi

[2019-02-14 16:08] bogdans-telenav commented on #54
We can easily make a script to parse this and generate exif data.

[2019-02-14 16:13] jalessio commented on #54
And here are some _rough_ notes I took the last time I attempted to sort this out -- looks like the last time I touched this was in July 2018. I ran out of time before I actually got it all tied together but this is probably a good starting point for others:
https://gist.github.com/jalessio/6ccbc203fc80540c24b984600831b644

[2019-02-19 15:15] mishari opened #74 "No sequence found"
Hi

I have a directory containing almost 30k files of captures made over a month.
[code]

I ran the osc_tool script as follows

[code]

The output I get is

[code]

I'm not sure what I'm missing?

[2019-02-19 15:24] bogdans-telenav commented on #74
@mishari can you post the OSC_

[2019-02-19 19:42] mishari commented on #22
![0000001](https://user-images.githubusercontent.com/503018/53042537-10fb2780-34b9-11e9-9b29-98598d823288.jpg)
![0000002](https://user-images.githubusercontent.com/503018/53042546-15274500-34b9-11e9-92e7-7b54887c9903.jpg)
![0000003](https://user-images.githubusercontent.com/503018/53042547-15274500-34b9-11e9-963b-e8c6fd3f11ee.jpg)
![0000004](https://user-images.githubusercontent.com/503018/5304254

[2019-02-19 21:21] #74 closed

[2019-02-19 21:26] bogdans-telenav commented on #74
@mishari your images missed GPS timestamp and we ignored exif timestamp. Fixed this issue by falling back on exif timestamp if GPS timestamp was not found.

[2019-02-20 04:14] mishari opened #75 "Need to split sequence"
Hi,

Help, I uploaded many images thinking that it would be split up, but it wasn't

https://openstreetcam.org/details/1342679/0/track-info

Could you please help with this? Mapillary uploader splits imagery into sequences, which is the expected behavior.

We can either
1. Delete the sequence and I can figure out how to split it manually and retry the upload
or
2. If you have an in house tool that

[2019-02-20 08:09] bogdans-telenav commented on #75
@mishari we don't have any tool that can split a sequence but it makes sense to have something like this. We will make one (no hard commitment for this week). Regarding the already uploaded sequence there is no problem with our statistics (we ignore the big jumps on our server side). For a server side split we will need to investigate a bit. Will keep you posted.

[2019-02-20 16:03] alrs opened #76 "Latitude and Longitude are Being Mangled When West or South"
I've used `upload-scripts` to upload a few test tracks to openstreetcam.

Instead of showing up in Los Angeles, California, USA, the tracks appear in China.

The reason the tracks appear in China is because the longitude is being recorded as `118` instead of `-118`.

I've found the problem in `exif_processing.py`, and a patch is forthcoming.

[2019-02-20 17:45] #76 closed

[2019-02-21 05:53] mds08011 opened #78 "Re-upload after deleting"
I recently uploaded photos and then deleted them from openstreetcam.org because were not appearing in the correct location (the issue has now been fixed: #76).  However, now that I am trying to re-upload them, I am being told that my images are already uploaded.

`Found sequence at path _____ that is already uploaded at https://api.openstreetcam.org/details/1342267`

Is there anything I should do

[2019-02-21 06:07] bogdans-telenav commented on #78
In the folder at path "_____" you will find 2 files "osc_sequence_id.txt" and "osc_sequence_upload_progress.txt" you need to remove both files in order to be able to upload your images again.

[2019-02-21 06:21] mds08011 commented on #78
That worked!  Thank you!

[2019-02-21 06:21] #78 closed

[2019-03-04 14:47] bogdans-telenav opened #79 "Generate OSC Metadata from image Exif."
We need to generate OSC metadata file from image exif in order to have a correct timestamp for when an image was captured.

[2019-03-04 14:58] hbogner commented on #75
I would like to see the tool to split the sequences based on distance and/or time between pictures.
I have a lot of images sorted by days, but sometimes there are a lot of sequences in one day.

[2019-03-05 01:57] mds08011 opened #80 "Add an option to interpolate direction/heading"
I would like to see a photo processing option which interpolates a direction/heading for each photo based on the location of the next photo in the track/sequence.  This process would assume that each photo in a track/sequence was taken facing the location of the next photo.

Currently, my GoPro photos show up without a heading and look like they are all facing North.  I almost always operate the c

[2019-03-07 08:04] mds08011 commented on #80
In the meantime, using the "Set Bearing" option in https://github.com/osmottawa/OSVUploadr is able to accomplish this.

[2019-03-16 20:08] bikeoid opened #81 "Requires Python 3.6"
I followed the instructions to install into Windows Bash shell, where my default Python Version was 3.5.  It took a bit of searching to discover that the resulting "syntax error" really meant that at minimum 3.6 is required.    Once I knew that, I could track down a newer version.

  The Readme.MD only mentions Python 3, but should read that it requires Python 3.6.

[2019-03-16 20:15] bikeoid opened #82 "Is camera direction/heading required?"
When reading a sequence of type Exif_photo, in exif_processing,py , function gps_compass accepts a photo if no compass direction exists.  But later the script will crash while logging in visual_data_discover.py at line (because of photo.gps_compass having a None value

`        LOGGER.debug("lat/lon/compass: %f/%f/%f", photo.latitude, photo.longitude, photo.gps_compass)
`

For now, I'm pre-filteri

[2019-03-26 16:51] Nick-Tallguy opened #83 "Cannot delete sequence - stuck 'uploading' or 'processing'"
User=Tallguy
A sequence became 'stuck' when my computer rebooted part way through uploading. When attempting to fix this, I uploaded again, and now have 2 identical sequences, one of which is still labelled 'uploading' - https://openstreetcam.org/details/1354727/0/track-info
I've attempted to delete this sequence using the trash icon, but receive the message 'There was a problem deleting sequence!

[2019-04-19 23:06] rwelty1889 opened #84 "docker setup issue"
trying to use the current version in docker on a Mac running 10.13.6.

make docker completes, apparently successfully.
first run docker command fails as follows:

$ docker run -Pit osc-up osc_tools.py
docker: Error response from daemon: OCI runtime create failed: container_linux.go:344: starting container process caused "exec: \"osc_tools.py\": executable file not found in $PATH": unknown.

i'm no

[2019-04-23 15:47] mds08011 commented on #84
You might want to read through this discussion: https://github.com/openstreetcam/upload-scripts/pull/71#issuecomment-465318837

[2019-04-23 22:23] rwelty1889 commented on #84
will try it later. it would be nice of the README reflected stuff like this.

[2019-05-08 22:31] panthersdude2001 opened #85 "Error with uploading sequences..."
HTTPSConnectionPool(host='api.openstreetcam.org', port=443): Max retries exceeded with url: /auth/openstreetmap/client_auth (Caused by NewConnectionError('<urllib3.connection.VerifiedHTTPSConnection object at 0x0352F750>: Failed to establish a new connection: [WinError 10060] A connection attempt failed because the connected party did not properly respond after a period of time, or established con

[2019-05-09 00:10] mds08011 commented on #83
I am going to jump on this issue to report my own track stuck in “uploading”.  I was uploading via the scripts and had some sort of interruption which caused the error.  I am unable to delete it myself but am fine with this track being either manually stopped or deleted.

User: mds08011
Track: https://openstreetcam.org/details/1348283/0/track-info

[2019-05-09 17:32] panthersdude2001 commented on #85
Got it working...

[2019-05-09 17:32] #85 closed

[2019-05-18 19:54] hbogner commented on #79
Any news about this enhancement?
I would like to start uploading.

[2019-05-19 19:38] amilopowers commented on #81
Thanks for you help @bikeoid

I stumble over this problem over and over again.

[2019-06-09 10:47] ltog opened #86 "Upload failure 'json.decoder.JSONDecodeError: Expecting value: line 1 column 1 (char 0)'"
While trying to upload some EXIF-tagged pictures the upload stopped and I got the error message shown below. I would expect that the script is able to handle errors gracefully without exiting...

Some infos:

- I used version 600c3d4f90970d675490a3a398ec66ded201b9d4 with option `-w 20`
- Python version is 3.6.7 on Ubuntu

[code]

[2019-06-09 11:34] ltog opened #87 "Upload progress doesn't get properly recorded"
I have some sequences of EXIF-tagged pictures I'd like to upload. For unknown reasons they were interrupted. (Message was: `Failed to upload sequence at /path/to/pictures. Restart the script in order to finish you upload for this sequence.` and also the thing described in https://github.com/openstreetcam/upload-scripts/issues/86 happened.) I'm not sure if the issue I'm going to describe is a conse

[2019-06-09 11:38] ltog commented on #87
Addendum: The upload gets a lot this messages, when run with logging on debug level:

[code]

[2019-06-11 12:48] mirunac-telenav commented on #87
@ltog - an unfortunate storage downtime occurred and it took a while to get it resolved. Everything is up and running now.
@bogdans-telenav - any reason why the upload should't work right now?

[2019-06-15 13:34] pkoby commented on #86
I would upload more willingly if this didn't happen innumerable times every sequence. This (and other errors) has been present since I started uploading a few months ago.

[2019-06-15 13:42] pkoby commented on #83
Workaround: in the folder of photos you're trying to upload, you'll fine `count_file.txt` and `sequence_file.txt`. Copy these files into a new folder.

Now it's been awhile since I've done this, so I'm not sure which method worked, but try this:
Open `count_file.txt` and see what the highest number is (they might not be in order, so find it near the end). Copy and paste that many photos into your

[2019-06-16 06:32] bogdans-telenav commented on #83
I could make a command to force finish a sequence. @pkoby is right the currently the sequnce is not available  for deletion until it is processed. On the latest version of the scripts this should no longer be an issue. I am currently working on a new release with a cuple of requested features and probably will add this also.

[2019-06-26 15:56] panthersdude2001 commented on #86
Same problem here. When uploading Mapillary images to OSC, it gives me this message.
Expecting value: line 1 column 1
With this Traceback (most recent call last):
  File "osc_tools.py", line 212, in <module>
    main()
  File "osc_tools.py", line 22, in main
    args.func(args)
  File "osc_tools.py", line 119, in upload_command
    upload_manager.start_upload()
  File "C:\Users\snowc\Downloads\upl

[2019-07-26 18:32] jalessio commented on #54
@bogdans-telenav per your comment on 2/14/19 is this something you're still willing to do? If you don't want to take it on yourself, I'll give it a try but in that case any pointers you can provide would be a great help in getting started. Thanks!

[2019-09-24 07:30] carstenhag opened #88 "Pressing secondary enter while loogging in crashes upload_tools"
So I'm using Windows 10, Python 3, Git bash/mingw64 and tried to run this tool. Instead of pressing the usual button I pressed the secondary enter button. Perhaps this isn't the real cause but instead it's a login issue, but as there isn't any other output I have no clue what the issue might be.

![Rnds2whlcW](https://user-images.githubusercontent.com/3776997/65490491-8d217780-dead-11e9-89f8-9bf6e

[2019-09-26 06:22] KAMI911 opened #89 "Upload error: ValueError: unconverted data remains: .996"
I am running the script:
`/common/git/upload-scripts/osc_tools.py upload -p /media/kami/b26fe013-b6dc-421e-97ec-23f75ec8ce2d/mapping/2018-08-25-1-javitando/ -w 20`

And get this error:
[code]
Linux Mint 19.2 / Python 3.6 in VENV

Any ideas how to do the upload?
Version is:
commit 600c3d4f90970d675490a3a398ec66ded201b9d4 (HEAD -> master, origin/master, origin/HEAD)
Author: Bogdan I. Sala <bogdans@b

[2019-09-26 06:23] KAMI911 commented on #89
File list:

[code]

[2019-09-26 06:42] KAMI911 commented on #89
End of logfile:

[code]
[EOF]

[2019-10-05 07:24] carstenhag commented on #87
Bump -- Would be nice if issues were cleared up :)

[2019-10-05 07:57] carstenhag opened #90 "Script tells me to restart the script to finish upload, but that does not work"
I'm on Windows 10 trying to upload some sequences. Some don't get finished apparently but I don't know why.

On https://openstreetcam.org/user/carstenhag it still says uploading 4 tracks, yet nothing is uploading.

The following shows the output of
`start /b /wait python upload-scripts/osc_tools.py upload -p "H:/Mapillary-OSC/"`.

[code]

And then it exits.

[2019-10-05 08:10] carstenhag commented on #90
Logs (too big for Github): https://drive.google.com/file/d/1UHtjgVtZn2s2IO_nC1WlDgmVSkjl3Q8g/view?usp=sharing

[2019-10-18 08:55] sashabrava opened #92 "Rauth library error on Windows 10"
Running upload scripts on Windows 10 version 1903 results with following error:

python osc_tools.py upload -p "(path_to_my_folder)"
Searching for sequences...
    Found sequence at path (path_to_my_folder). Sequence type Exif-Photo.
Search completed.

Starting to upload 1 sequences...
Traceback (most recent call last):
  File "osc_tools.py", line 212, in <module>
    main()
  File "osc_tools.py",

[2019-10-22 19:25] brandongalbraith opened #93 "Uploading Video From Tesla Dashcams"
I am exploring capturing video from Tesla dashcams as well as GPX data using https://github.com/marcone/teslausb. My understanding is that the Tesla vehicle cameras capture at 720p resolution (4Mb bit rate). Does this meet the requirements for uploading for openstreetcam processing?

[2019-10-23 10:26] alexandrui-telenav commented on #93
This sounds very very cool @brandongalbraith. Resolution and bitrate do sound a bit low but would definitely give it a try to see the detection results.
Let us know if there's something we can help with.

[2019-10-27 18:38] panthersdude2001 opened #94 "list index out of range"
When uploading using the script, it gives me this message
Traceback (most recent call last):
  File "osc_tools.py", line 212, in <module>
    main()
  File "osc_tools.py", line 22, in main
    args.func(args)
  File "osc_tools.py", line 93, in upload_command
    sequences = discoverer.discover(path)
  File "C:\Users\snowc\Downloads\Compressed\upload-scripts-master\osc_discoverer.py", line 113, in

[2019-11-04 17:20] brandongalbraith commented on #93
Did some tests on the resulting video output, and wasn't terribly excited with the results (versus what's possible with cheap action cams). Closing this for now until there's a bump in specs on Tesla cam hardware.

[2019-11-04 17:20] #93 closed

[2019-11-25 22:22] polarbearing commented on #54
As there is a process that the waylens uploads the recordings to telenav servers, telenav should have the spec of the incoming files to parse and geo-ref them?

[2019-12-12 22:24] InsertUser opened #95 "Unable to generate exif for metadata version 3.0.0"
I am able to write exif data to (old) files with a metadata file starting:
`HMD Global Nokia 7.1;9;1.1.6;2.7.4;photo`

but not
`HMD Global Nokia 7.2;9;1.1.6;3.0.0;video`
or
`HMD Global Nokia 7.2;9;1.1.6;3.0.0;photo` (after manually extracting and renaming frames from the mp4s).

Overwriting the first line of the `track.txt` file with the 2.7.4 header appears to give reasonable EXIF results that ca

[2019-12-20 18:36] sashabrava commented on #92
The same error happened on Linux with Python 3.8, script was launched by switching to Python 3.7.0

[2019-12-22 13:37] sashabrava opened #96 "Upload issues on low-speed connection"
Running upload script on low-speed Internet (around 1 Mbps upload speed limit) results with 5x higher traffic consumption (130MB for 28MB sequence). However, the problem doesn't appear when using 4G connection.

Sometimes uploading on slow connection ends up with such error:
"Failed to upload sequence at (foldername). Restart the script in order to finish you upload for this sequence.
Finished upl

[2020-03-12 22:57] panthersdude2001 commented on #94
Still experiencing the error, and this program seems to no longer work. @chip-grab any words on when this list index out of range error being fixed?

[2020-03-13 00:29] panthersdude2001 commented on #94
![list index out of range](https://user-images.githubusercontent.com/44646536/76578817-2b2aed80-64a0-11ea-9fd7-1507de7fa4fe.png)
here is the error im getting

[2020-04-03 12:39] signout commented on #13
It is possible for you to download the unblurred originals from mapillary using the tools from https://github.com/mapillary/mapillary_tools
You have to upload it to openstreetcam manually, but this can be done in batches if you're constrained on diskspace.

Look in the Misc section for command line options.

[2020-04-24 17:08] ghost opened #99 "Received exception on video upload ('Connection aborted.', timeout('The write operation timed out'))"
Error has been received when uploading the sequences to osc today

[2020-04-24 17:38] panthersdude2001 commented on #99
@chip-grab is there something wrong with osc api today? i got one sequence to upload without a problem. the other two had a problem

[2020-04-24 18:58] panthersdude2001 commented on #96
Works! Thank you for the solution.
Deleting the osc sequence id works fine!

[2020-04-25 16:38] salabogdan commented on #94
@panthersdude2001, please provide the track.txt.zip or track.txt file in order to debug this problem.

[2020-04-25 16:40] #81 closed

[2020-04-25 16:45] salabogdan commented on #95
@InsertUser, can you please provide the metadata file? This way we can debug your problem.

[2020-04-25 16:54] salabogdan commented on #92
@sashabrava please try using Python 3.6.

[2020-04-25 17:01] salabogdan commented on #89
@KAMI911, can you please send `20180825_092036_Interval1000.jpg` photo?

[2020-04-25 17:50] panthersdude2001 commented on #94
Ok, I got it to work, but not with this sequence. It seems to be the sequence is not full, and has to be full.

[2020-04-25 17:57] panthersdude2001 commented on #94
[track.txt](https://github.com/openstreetcam/upload-scripts/files/4533671/track.txt)

[2020-04-25 18:12] panthersdude2001 commented on #94
And here is the problematic file!
![image](https://user-images.githubusercontent.com/44646536/80287296-cac5d780-86fe-11ea-9e4c-b0e68e696698.png)
[track.txt.gz](https://github.com/openstreetcam/upload-scripts/files/4533726/track.txt.gz)

[2020-04-25 20:30] panthersdude2001 commented on #94
Found the problem. For users that are experiencing this problem:
1. Go to the track.txt and remove all the suspicious characters like yyyyy
2. Save the track.txt and add it to a gzip archive
3. Upload again.
Now it works.
Closing

[2020-04-25 20:30] #94 closed

[2020-05-18 11:08] Westbamukr opened #100 "Need help with this system."
Hey.
Need help with this system.
Can someone create Wiki instructions on how to configure and run this add-on?
There is a large amount of photos that I would like to share with other users in OSC, but lack the knowledge to run this add-on.
Thank you in advance for your help.

[2020-06-03 17:00] panthersdude2001 opened #101 "Nonetype object has no attribute alias"
I am having a problem with OSCs uploader today. Took some sequences and resulted in this message
![image](https://user-images.githubusercontent.com/44646536/83665640-b2689880-a599-11ea-8a93-7f3c6740e0bb.png)
When looking at the track.txt which is attached, it shows this new blurb of text
METADATA:2.0
HEADER
ALIAS:d;DEVICE;1;1
ALIAS:g;GPS;1;1
ALIAS:o;OBD;1;1
ALIAS:cam;CAMERA;2;2
ALIAS:exif;EXIF;2;2

[2020-06-03 20:08] panthersdude2001 commented on #101
@salabogdan @chip-grab This bug is still happening even after restarting computer, upgrading python.

[2020-06-04 17:40] panthersdude2001 commented on #101
@salabogdan @chip-grab I need to upload these sequences, and its still providing me the error. No response since yesterday. Please fix the metadata 2.0 for this reason.

[2020-07-02 16:20] signout commented on #13
To follow up on my last comment: The command in the misc section only downloads blurred downscaled images.

There is, however a tools for scraping all your images. Available at https://github.com/gitouche-sur-osm/mapillary_takeout

[2020-07-19 03:35] thatoneiowan commented on #101
I am having the same or similar issue. I have 315gb worth of tracks from a vacation I took and would like them off my hard drive.

https://i.imgur.com/TiGp4Ht.png

This also shows up when I put the flag on for debugging messages, but I don't know what any of it means. It looks like I get the "does not conform to this discoverer" for all tracks except one.

https://i.imgur.com/5ucT3qt.png

[2020-08-05 12:30] jose1711 commented on #101
I am not familiar with OSC (don't even have account created) but maybe this quickfix in https://github.com/jose1711/upload-scripts/tree/metadata2 helps

[2020-08-05 13:52] thatoneiowan commented on #101
Looks like a promising fix!!

https://i.imgur.com/sfFVDqo.png

https://openstreetcam.org/details/2867422/0/track-info

[2020-08-05 14:07] jose1711 commented on #101
not sure about that. is that arrow on map supposed to always point to north?

[2020-08-05 14:09] thatoneiowan commented on #101
No but it does on all of my tracks……….I am certain that is my phone doing that. Lol. U can take a look at anything within the past few months. I spot checked a handful and it is like that for all of them lol https://openstreetcam.org/user/thatoneiowan

From: Jose Riha <notifications@github.com>
Sent: Wednesday, August 05, 2020 09:08
To: openstreetcam/upload-scripts <upload-scripts@noreply.github.c

[2020-08-05 14:14] jose1711 commented on #101
Ok, thanks for sharing. I was not able to find the specs of the new format so that's why I am suspicious.

[2020-08-05 16:13] panthersdude2001 commented on #101
Ok, so It looks like @jose1711 has a solution that may be the fix. Will rename the issue. Still keeping it open, regardless. Fingers crossed! 🤞🏻

[2020-08-05 16:17] panthersdude2001 commented on #101
Agree with you all. The arrow is up instead of pointing toward the road.

[2020-08-06 13:17] jose1711 commented on #100
Ideally if a newcomer creates such as entry b/c he/she understands best what is needed. Also this is not really an addon but a standalone scripts. If you need some guidance feel free to contact me via email.

[2020-10-10 14:57] Nick-Tallguy commented on #90
Hi, as a workround;

If you look in the folder containing your images, 'Mapillary-OSC/2019_09_29_18_01_27_315_+0200' you will find two extra files which openstreetcam has created.

Delete **only** the file osc_sequence_upload_progress.txt and then try uploading again.

Regards from another user!

[2020-10-12 06:21] KAMI911 commented on #89
I will dig into my HDD to find it. I am sure this file from LG 360.

[2020-10-22 10:06] Alevale commented on #93
@brandongalbraith Even though the quality might not exceed expectations it might be better than nothing and more up to date than what google might offer, so would you mind sharing the script you used?

Or you didn't even spend time into scripting after realising the video output quality wasn't great.

[2020-12-03 21:29] polarbearing commented on #54
Any news on this issue under the new kartaview branding?

[2020-12-04 13:06] moenk opened #102 "Python Uploader crashes very often"
For whom it may concern:

`Starting to upload 1 sequences...
Logged in user: moenk. To log out delete D:\Mapillary\openstreetcam/credentials.json
 44%|██████████████████████████████████████████████████████████████████████████████████████▏                                                                                                            | 220/498 [04:26<06:40,  1.44s/it]Traceback (most rece

[2020-12-04 13:43] moenk commented on #102
As a quick and dirty fix I commented out lines 107-117 in osc_api_gateway.py so that the upload success function alway returns True, hope this will help.

[2021-02-19 05:05] mishari opened #104 "Can't get osc authorization"
I'm getting this error

HTTPSConnectionPool(host='api.openstreetcam.org', port=443): Max retries exceeded with url: /auth/openstreetmap/client_auth (Caused by SSLError(SSLCertVerificationError(1, '[SSL: CERTIFICATE_VERIFY_FAILED] certificate verify failed: unable to get local issuer certificate (_ssl.c:1123)')))

Python 3.9.1
macOS 11.2.1 (20D74)

[2021-03-02 15:04] salabogdan commented on #90
Hi guys,
I just fixed this, sorry for the very late action.

[2021-03-02 15:04] #90 closed

[2021-03-02 18:39] osm-ToniE opened #106 "OSC API bug. OSCUser missing username"
I get the following error:

Can't get osc authorization right now please try again or if you already did this.
Please report this issue with the error message on https://github.com/openstreetcam/upload-scripts

deleted credentials.json though

[2021-03-04 08:57] osm-ToniE commented on #106
Seems to be solved ... I did not change anything though, except deleting credentials.json
credentials.json now includes not only token and toke_secret but also the missing user information

[2021-03-04 08:57] #106 closed

[2021-03-09 17:05] Strubbl commented on #86
The most recent commits catch this JSONDecodeError.

[2021-04-08 15:10] joshinils opened #107 "No sequence found."
I want to upload images which i have taken with the mapillary app. these images are now on my hard drive, they come off an iphone 8.
this is the output i get when trying to upload the folder:
[code]
this is the exif:
[code]
the long description is what is generated by mapillary.

i want to upload these to kartaview aswell, since some sequences just dont show up on mapillary, or not in full (which

[2021-05-03 18:13] joshinils opened #108 "Failed to upload photo index: 1370, response: 502"
I uploaded a bunch of images over night via my raspberry pi and my nas, during which i got this multiple times:
[code]
[...]
[code]
[...]
[code]

Does that mean it failed to upload a single image?
Do I have to repeat those sequences where those are contained?

[2021-05-03 18:39] Strubbl commented on #108
I also get some of these server errors when uploading. Unfortunately you cannot just restart the upload and the files, which were not uploaded due to the server error, are uploaded again.
Except deleting the stream and the txt files and doing a really fresh new upload i do not know a solution. But that is not real solution because the not uploaded files are way too less to initiate a complete new

[2021-05-04 03:31] joshinils commented on #108
also, i have the images sorted in some folders, i do not know exactly which failed

[2021-05-20 13:08] salabogdan commented on #104
Should no longer be a problem. This was addressed a long time ago.

[2021-05-20 13:08] #104 closed

[2021-05-24 12:03] salabogdan commented on #102
This is most likely fixed so i will close it.

[2021-05-24 12:03] #102 closed

[2021-05-24 12:07] salabogdan commented on #101
i think this was addressed in the latest release but since this was a very active issue i will wait for a reply.

[2021-06-15 18:05] golserma opened #112 "Upload script stuck"
I get this error messages. Restart the script in order to finish you upload for this sequence.
On the website the sequence is still tagged as uploading. The upload has finished some time ago and the status does not get updated.

[2021-06-25 20:08] BeJotEl opened #113 "Cannot upload video"
I have uploaded several videos, all taken on one day with the same device (iPhone)
The upload worked for the most of them but one.
The sequence consists of 32 mp4 files and according to the app 1555 photos.
Here is the debug output:
[code]
It seems that the exception occurs after the upload of the first mp4 file.

[2021-07-06 16:13] BeJotEl commented on #107
Found a workaround to upload mapillary generated images:
(re)add Date/Time Original from original filenames (e.g. 2020_04_02_06_30_03_519.jpg)
`exiftool -recurse "-datetimeoriginal<filename" -overwrite_original -progress -preserve -ext jpg -fast2 /path/to/images`

Afterwards upload is possible without hassle

[2021-07-28 21:55] erias04 commented on #107
### When I run that exiftool command from @BeJotEl, it gives me this output:

[code]

#### So it is not working for me :(

#### Is there any other way to upload it? (These pictures are sampled by mapillary and they have a GPS metatag. So they have all requirements, right?)

Not even directly upload the images with GPS-tags works with: `python osc_tools.py upload -p /path/to/images`.
(I am using py

[2021-08-09 15:50] BeJotEl commented on #107
Sorry for being unclear
my command works only for files with the _original_ filename exported from iPhone e.g 2020_04_02_06_30_03_519.jpg because the date/time information is created from this name, date: 2020-04-02 at 6:30, 3 seconds and 519 microseconds
so if you change the filename to something else it will not work

[2021-08-30 09:32] duiveldoder opened #114 "question to how kartaview handles 360 degree photos"
If you have a photo 360 degrees...
all-around.

the exif in the photo also has a tag to define the direction - how is the direction by kartaview used?

when I say - ExifTagId.GpsImgDirection 87

it means the center of the 360 photo - is assumed to be looking east 87 degrees?

[2021-09-12 00:50] cliffordsnow opened #115 "My images are missing the created on date"
Images I upload to Kartaview are missing the created on date. The image just shows that Glassman created the image. I'm adding the date time that the image was taken using an exif tool. What format should the date be in?

[2021-09-15 06:46] photastic opened #116 "Problem with Installing Requirements on Windows 10"
I'm on Windows 10.
When I follow the steps to install the requirements, I am stuck at the step

`source bin/activate`

I assume this is meant to be the command on a Linux system.
Is there a way to install the requirements on a Windows 10 computer?

[2021-10-26 06:03] valeriodeluca opened #117 "Sample KV metadata file to generate of Exif info"
Dear KartaView,
Regarding the generation of Exif information from the KV metadata file:

https://github.com/kartaview/upload-scripts#2-generate-exif-info-from-kv-metadata-file

I ask if it is possible to have a sample KV metadata file to understand how the metadata file is made and what its extension is (* .txt, * .csv, etc).

I want to generate Exif info for 360 photos. Can I also insert the orie

[2021-10-31 18:51] hamlet commented on #13
Unfortunatly it doesn't work anymore, due to changes in the mapillary API... :-/ See https://forum.mapillary.com/t/mapillary-openstreetcam-synchronization-tool/4246/74
Too bad I missed the opportunity.

[2021-10-31 19:24] hamlet commented on #13
Unfortunatly it doesn't work anymore, due to changes in the mapillary API... :-/ See https://forum.mapillary.com/t/mapillary-openstreetcam-synchronization-tool/4246/74
Too bad I missed the opportunity.

[2021-11-01 06:10] salabogdan commented on #117
@valeriodeluca my local changes are adding the latitude and longitude information from the geojson file to the images but the upload will still not work because the gps does not have any timestamp information so the images can not be uploaded.
Can you add timestamp information to the geojson file? A new property for the feature or at least one timestamp for the hole trip maybe when the trip has st

[2021-11-01 09:27] valeriodeluca commented on #117
@salabogdan sure, here you can find the geojson file with timestamp:
[https://mapforfuture.world/doc/Map_For_Future_Bike_360_timestamp.geojson
](https://mapforfuture.world/doc/Map_For_Future_Bike_360_timestamp.geojson
)
I used this format:

[code]

If the timestamp format doesn't correct I can change it.
Thanks

[2021-11-01 11:51] salabogdan commented on #117
@valeriodeluca  just to make sure hh is Hour (12-hour clock) as a zero-padded decimal number e.g. 01, 02, …, 12 ?

[2021-11-01 12:30] valeriodeluca commented on #117
@salabogdan yes, you do, you can assume 24 hour format with zero-padded, so it goes from 00 to 23 hour. No AM/PM info required so.
Thanks

[2021-11-01 18:19] #117 closed

[2021-11-02 12:52] salabogdan commented on #117
@valeriodeluca this issue was automatically closed sorry about this. Does everything work as expected?

[2021-11-02 13:01] salabogdan commented on #117
@valeriodeluca
How to:
- HELP
` python3 osc_tools.py generate_exif -h`
- USE CUSTOM geojson file
` python3 osc_tools.py generate_exif --exif_source custom_geojson --path <<path_to_folder_containing_geojson_and_images_folder>>`

[2021-11-02 14:05] valeriodeluca commented on #117
@salabogdan not worrier about closing the issue.
Thanks for the new "USE CUSTOM geojson file"!

Just a question, I ask you if the geojson for the generation of the exif data must have a particular formatting for the assignment of the values of Latitude, Longitude, Direction and Timestamp.

Would it be possible to upload a sample geojson to this repository, perhaps in the following directory?
[code

[2021-11-02 14:34] salabogdan commented on #117
I have, already added a sample for the custom geojson in the readme.md file. Here is the commit https://github.com/kartaview/upload-scripts/commit/0cae266edf70e869e2365012e0af6435901c539c  . I will change it to look better but for now this is how it looks.

[2021-11-02 15:15] salabogdan commented on #117
final version of the readme example: https://github.com/kartaview/upload-scripts/commit/7ca5cead10d124ab7877d4fdeca038903c1b6574

[2021-11-03 07:14] salabogdan commented on #107
This is nice! Let me make some changes to add support for this type of images. Basically read the image description and get the required information from there.

[2021-11-17 10:51] valeriodeluca opened #120 "360 Panoramic Viewer on OpenStreetMap iD Editor"
Thanks to the updates of @salabogdan I can upload 360 photos to KV very well by Python, creating EXIFs from custom geojson:

Sample KV metadata file to generate of Exif info #117
[https://github.com/kartaview/upload-scripts/issues/117](https://github.com/kartaview/upload-scripts/issues/117)

In KV I can dynamically and interactively see each 360 photo of the sequence:
[https://kartaview.org/detail

[2021-11-23 20:55] brmonaghan commented on #116
You have to do cd scripts and then activate.

[2021-11-23 21:02] brmonaghan commented on #113
If you have a high latency ISP, like I did back in 2020, please use a faster WiFi service like Spectrum. The Video upload exception is caused by a timeout of your modem trying to upload the videos.
If you can't afford a new ISP, or your country is not highspeed like us, then split the videos into separate folders and rename them SEQ1A, SEQ1B, and so on.
Then try this script below
`FOR %%G IN (a,b,

[2021-11-24 16:20] BeJotEl commented on #113
Meanwhile all files are uploaded. But I don't remember what I did to make it successful.

[2021-11-24 16:20] #113 closed

[2021-11-25 16:05] foobarna commented on #116
@photastic as you are on Windows, please note that the activation binary is under a different directory: `Scripts\activate.bat` as noted in the documentation, [the invocation of the script is platform-specific](https://docs.python.org/3/library/venv.html#:~:text=The%20invocation%20of%20the%20script%20is%20platform%2Dspecific).

Here is an [How-To for Windows](https://mothergeo-py.readthedocs.io/en

[2022-01-01 18:20] salabogdan commented on #120
@valeriodeluca this is nice but it seems to be a feature of the iD plugin. I checked and it seams that there is a bug in the API that OpenStreetMap iD Editor is using to get the images. More precisely the "heading" = null and is returned as "headers"

[2022-01-21 14:05] #35 closed

[2022-01-21 14:54] salabogdan commented on #25
We now support this functionality https://github.com/kartaview/upload-scripts/pull/118

[2022-01-21 14:54] #25 closed

[2022-01-21 17:44] salabogdan commented on #92
we changed the rauth library so this should no longer be an issue.

[2022-01-21 17:44] #92 closed

[2022-03-02 07:29] salabogdan commented on #99
Closing this issue since there was no activity here in the last couple of years.

[2022-03-02 07:29] #99 closed

[2022-03-02 09:39] salabogdan commented on #24
This issue is no longer active i will close it.

[2022-03-12 19:16] brmonaghan commented on #99
This is now resolved @salabogdan so the closure is valid.
It was my ISP that was causing it.

[2022-03-12 19:29] brmonaghan opened #124 "Failed to upload sequence, again!"
It looks like the dreaded failed to upload sequence is back again.
Starting to upload 3 sequences...
Logged in user: snowcool776. To log out delete C:\Users\cgeek\Downloads\cg\upload-scripts-master/credentials.json
  0%|                                                                                          | 0/271 [00:00<?, ?it/s]    Failed to upload sequence at OSV\SEQ_42e50d14-ba70-4cba-903d-d

[2022-03-12 20:16] robhubi commented on #124
The same here.
Last successful upload: 3 March 2022. Today's upload failed. Then updated upload scripts and recreated virtual environment. Upload still fails. Message:
`Failed to upload sequence at T:\Robert\Pictures\OSC\Seq00. Restart the script in order to finish you upload for this sequence.`
"Restart" does not lead to any other result. The folders of the sequences remain unchanged, the error m

[2022-03-12 20:47] brmonaghan commented on #124
So it looks like we have a MAJOR issue with Kartaview right now? @zhaitianduo

[2022-03-12 21:16] brmonaghan commented on #124
I thought the windstorm we are having right now is causing this to occur. But now it seems to be an outage. 😠

[2022-03-13 15:54] brmonaghan commented on #124
Works now!
Closing

[2022-03-13 15:54] #124 closed

[2022-03-14 03:05] zhaitianduo commented on #124
Sorry we released a defect yesterday and fixed it after some time, sorry for the inconvenience!

[2022-03-14 12:07] lklepner commented on #124
Ahh this likely explains why my iOS app uploads were stuck.

[2022-05-11 21:47] lionkmp commented on #107
@salabogdan  I'm curious what information is missing from this exif? Is it impossible to upload images taken with Mapillary App?

[2022-08-13 10:33] Dirk-- opened #125 "Generate Exif info fails on APK 5.1"
trying _Generate Exif info from an KV metadata format file_ fails:

[code]

Source is  _Releases 16 5.1 - APK , METADATA:2.0 ..._

[2022-08-13 10:45] Dirk-- commented on #116
yes, a windows-specific readme would be nice!

[2022-08-14 15:33] flohoff opened #126 "credentials.json into XDG config space not current directory"
Hi,
the credentials.json should not be in the current directory but in the normal XDG namespace somethink like ~/.config/karta/credentials.json

Currently i need to login on every upload because i change into the directory of the images and upload "."

Flo

[2022-08-19 10:45] Dirk-- commented on #125
see also https://github.com/hMatoba/Piexif/issues/82

[2022-09-14 14:17] karcsesz opened #127 "Uploaded GoPro image sequence is in incorrect order"
Hello!
I have tried to upload a couple of sequences I've taken with my GoPro Hero 8 Black shooting 0.5s timelapse mode, and the resulting tracks' orderings exhibit a three steps forward, one step back pattern as can be seen on this image: ![image](https://user-images.githubusercontent.com/34425884/190174305-32fff253-dab7-4224-b42a-8a199e87503b.png)
[One of the sequences in question](https://kartav

[2022-09-15 08:00] karcsesz commented on #127
I have uploaded [a new sequence](https://kartaview.org/details/6094025/0/track-info) with a 1s interval, and now the order seems to be good.
![image](https://user-images.githubusercontent.com/34425884/190348920-b793138a-7fa7-4f57-8d28-906d538ca95e.png)

[2022-09-19 22:42] rbbl-dev opened #129 "API Documentation?"
is there any documentation on the actual kartaview api like maybe an open api spec?

[2022-10-10 09:09] salabogdan commented on #129
1. newer -> http://doc.kartaview.org
2. deprecated -> https://api.openstreetcam.org/api/doc.html

[2022-10-10 09:09] #129 closed

[2022-10-10 09:10] salabogdan commented on #127
thanks for the contribution!

[2022-10-10 09:10] #127 closed

[2022-10-28 14:50] salabogdan commented on #125
fixed by pull request: https://github.com/kartaview/upload-scripts/pull/130

[2022-10-28 14:50] #125 closed

[2022-10-31 08:26] salabogdan commented on #108
This was a bug that happened during a backend update, and should no longer reproduce  so I will close it. Still the underlining issue remains this script should have a better upload progress tracking. Not sure what would be the best approach here since in some cases having the txt file is convenient, one could manually edit the file to finalise a upload or skip a file and so on.

[2022-10-31 08:26] #108 closed

[2022-10-31 08:27] salabogdan commented on #87
Issue should be fixed in the meantime.

[2022-10-31 08:27] #87 closed

[2022-10-31 08:30] salabogdan commented on #89
Since then we improved the way we handle 360 images and this bug should no longer reproduce, in case you still have issues please open a new thread.

[2022-10-31 08:36] salabogdan commented on #107
Long story short, Mapillary adds some custom headers to the exif, and we need to read them in order to have the info.
I investigated this back then but forgot to push the branch and now I no longer have it in the computer.
This is what I am taking about.
 {"MAPCompassHeading":{"TrueHeading":256.78939640345874,"MagneticHeading":256.78939640345874,"AccuracyDegrees":0},"MAPGpsTime":"2021_01_18_11_49_

[2022-10-31 13:04] #107 closed